[2016-12-10 00:50] stubailo opened #2 "Show indices on array items"
Right now an array of objects doesn't look great:

<img width="344" alt="screenshot 2016-12-09 16 50 24" src="https://cloud.githubusercontent.com/assets/448783/21069527/9864fbcc-be2f-11e6-9299-2692ccb94fa7.png">

We should make it easy to tell where one item ends and the next begins.

[2016-12-14 20:07] daniman opened #4 "More query metadata"
In addition to seeing the Query String and Variables, it would be great if you could also see things like the query Options. For queries with `pollIntervals`, it would also be very cool if there was a pause button.

[2016-12-15 06:19] linonetwo opened #5 "GrqaphiQL can't contains multiple queries"
If there were more than one queries in the graphiql, it will returns:

[code]

[2016-12-15 07:13] stubailo commented on #5
Does GraphiQL normally support this? I feel like this is a limitation of GraphiQL itself, rather than the dev tools.

[2016-12-15 10:38] jurajkrivda opened #6 "React Native implementation"
Could you provide a tutorial how could I use it with React Native?

[2016-12-15 10:43] linonetwo commented on #5
GraphiQL surely supports this:
![qq 20161215184224](https://cloud.githubusercontent.com/assets/3746270/21220945/6441a036-c2f6-11e6-90c2-fff54a46c69f.png)

[2016-12-15 10:45] linonetwo commented on #5
But this tool is so convenient that I think my days of using multiple queries will pass.

[2016-12-15 10:48] linonetwo commented on #6
Have you tried it yet?

I thought it have to work with something likes remote-redux-devtools.

[2016-12-15 11:09] jurajkrivda commented on #6
Yes but I use mocked version of my application using graphql-server

[2016-12-15 11:28] jurajkrivda commented on #6
I do not see also the Apollo store at Redux dev tools. It is my mistake?

[2016-12-15 11:52] linonetwo commented on #6
This tool needs window.__APOLLO_CLIENT__ to work, maybe we just didn't trans our apolloCLient to remote dev page?

[2016-12-15 22:53] stubailo commented on #6
@linonetwo this doesn't use redux devtools at all, it's a custom thing. So right now I don't think it's possible to use with React Native.

It works by `eval`ing some code inside the page, so if there is an easy bridge to eval that code inside React Native it should work just as well. Is there some tool that can do that? (like a chrome console for RN?)

[2016-12-15 22:54] stubailo commented on #5
That's just surprising because we're using regular off-the-shelf GraphiQL - I would expect it to support everything GraphiQL does... is the dropdown you're showing coming from the standard `npm install graphiql`?

[2016-12-15 23:07] tomitrescak opened #7 "Tools disabled"
Hi, I am not sure what I am doing wrong, but tools are always disabled.

I have upgraded apollo-client to (0.5.20) and react-apollo to (0.7.1)
No luck (I also noticed that __APOLLO_CLIENT__ was not in global variables at this point)

Then, I have  added following code to my client initialisation:

[code]

Still no luck.
Running latest Chrome 55, on Mac OS X.

[2016-12-15 23:09] tomitrescak commented on #7
And just like that after several reloads and browser restart all is jolly ...

[2016-12-15 23:09] #7 closed

[2016-12-15 23:10] stubailo commented on #7
Yeah it's odd, we'll just have to work on making it more stable over time! One of the things I learned from this project is that the Chrome APIs don't exactly make these things easy. But they do make them possible!

[2016-12-16 00:55] linonetwo commented on #5
No, it's from apollo-server :

[code]

[2016-12-16 01:07] stubailo commented on #5
Yeah, that uses the standard one, so I'm surprised it's different. Maybe the Apollo network interface is doing something weird when the request passes through. @daniman if you have a moment might be something to look at - we should just print the request at each point and see when the `operationName` disappears.

[2016-12-16 01:24] SachaG opened #8 "Devtools not showing up in developer toolbar"
I haven't been able to get the Apollo Devtools to show up reliably in my developer toolbar.

According to @stubailo:

[2016-12-16 01:37] stubailo commented on #8
Yeah, probably a good idea to set that up to poll on an interval.

[2016-12-16 02:13] Darkbladecr commented on #8
I have been struggling to get the tools to appear on my development panel as well. I am currently running an angular 1.6 project. I am initializing apollo as below, with the `connectToDevTools` argument as well. `window.__APOLLO_CLIENT__` does not seem to be available, but I am not sure what I should do to enable it within the window?

[code]

[2016-12-16 02:25] stubailo commented on #8
what version are you on? basically here is the code for that: https://github.com/apollostack/apollo-client/blob/42b5a4cb1cf2728d803b1aca9bbfa58ca4c36c64/src/ApolloClient.ts#L239-L251

It looks correct to me, but maybe something is buggy, would appreciate a review

[2016-12-16 02:37] Darkbladecr commented on #8
I appear to be on an old version, let me update and report back.

[2016-12-16 04:07] linonetwo opened #9 "GraphiQL convert null to "null""
Seems null variable will be convert to "null" if that field accepts String, look at this:

[code]

![_20161216120145](https://cloud.githubusercontent.com/assets/3746270/21251324/f3072fca-c387-11e6-96f2-55f7e1f171dd.png)

As https://github.com/apollostack/apollo-client-devtools/issues/5 , seems this GraphiQL have some differences from what inside apollo-server.

[2016-12-16 04:09] stubailo commented on #9
Wait I'm confused - the thing you posted doesn't look like a graphql query at all?

[2016-12-16 04:58] linonetwo commented on #9
Oh, I'm wrapping REST behind GraphQL ... Just likes we discussed few months ago https://github.com/apollostack/apollo-client/issues/379

Though this issue is true.

[2016-12-16 05:26] stubailo commented on #9
Yeah definitely looks like there is something fishy going on. I don't have time to look at it in the next few days but hopefully someone can check it out!

[2016-12-17 11:05] JohannesKaufmann commented on #6
There is a [feature in React Native](https://facebook.github.io/react-native/docs/debugging.html#chrome-developer-tools) that runs the application code in the google chrome engine and you can use the chrome devtools to debug it (including  [Pause On Caught Exceptions](http://stackoverflow.com/questions/2233339/javascript-is-there-a-way-to-get-chrome-to-break-on-all-errors/17324511#17324511)).

The

[2016-12-17 15:07] faceyspacey commented on #6
@JohannesKaufmann `react-native-debugger` does it: https://github.com/jhen0409/react-native-debugger

[2016-12-18 02:59] linonetwo commented on #6
And storybook-react-native is doing something by using websocket https://github.com/storybooks/react-native-storybook/blob/master/src/preview/index.js#L63

[2016-12-18 07:17] daniman commented on #5
@linonetwo this issue should be fixed by the commit I just made! I'll release v1.0.3 of the extension to the chrome web store.

[2016-12-18 07:17] #5 closed

[2016-12-18 15:07] linonetwo commented on #5
Nice!

[2016-12-27 11:20] Philip-Nunoo commented on #8
@Darkbladecr can you confirm this issue is resolved. Having similar problems here

[2016-12-27 11:26] Darkbladecr commented on #8
Yes after upgrading everything works.

[2016-12-29 15:25] wmertens opened #10 "Reload button for GraqhiQL"
Whenever I change my graphql API, I need to close devtools and open them again to see the changes reflected in graphiql.

It would be nice to have a button that reloads graphiql.

[2016-12-29 15:37] Samuell1 opened #11 "Some warnings with Electron"
Hey, i using devtools with electron, and i get some warnings, its something bad?

[code]

script to install devtools
[code]

[2017-01-04 07:23] stubailo commented on #10
Does GraphiQL have an API for this? If you have time a PR would be appreciated!

[2017-01-04 21:37] armstrjare opened #12 "Suggestion: Show latest query result data"

[2017-01-05 00:39] stubailo commented on #12
Good idea - we should also show any errors, the current options (pollInterval, etc), and anything else we can find out about the query.

[2017-01-05 07:13] linonetwo commented on #6
@stubailo I've tried that , do you mean 'remote-redux-devtool' ? It add socket to RN chrome dev tool's html and use socket inside to send serialized store to Chrome. It works, I guess Apollo's devtool can try to read unserialized store in Chrome side to work.

React DevTools ? I don't think any react information will be send to Chrome, what sent is only the serialized store.

[2017-01-05 08:25] stubailo commented on #6
I'm talking about **React** devtools - not Redux. Is it possible to use React dev tools with React Native? https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en

[2017-01-11 21:55] wmertens commented on #10
There is no API for it, except by remounting the component with a new key.
The schema gets fetched on mount. Relevant issue is
https://github.com/graphql/graphiql/issues/223

So quick hack to have this now would be using an absolutely positioned
reload button that increments a counter that is used for the key of the
graphiql component.

[2017-01-11 22:00] wmertens commented on #10
Err, I just realized that switching to a different tab and then back has
the same effect. Good enough for me!

[2017-01-11 22:01] #10 closed

[2017-01-13 09:37] Jpunt opened #15 "Dark mode"
I love my devtools in dark mode. I'm not sure if we can figure out wether or not the user has selected dark mode and style the Apollo dev tools accordingly, but it would already be a huge improvement if we set a background color like graphiql does:

![screen shot 2017-01-13 at 10 35 05](https://cloud.githubusercontent.com/assets/190501/21925100/30862dba-d97c-11e6-82db-9034053e3256.png)

So the oth

[2017-01-13 21:54] faceyspacey commented on #6
@stubailo any word on this? I wonder if the best place for the apollo devtools is just along with the redux devtools in `react-native-debugger`.

That's the only place that the React devtools is working for RN besides Nuclide, which last time I tried was not worth using because performance was so bad.

Enhancing + promoting `react-native-debugger` may be something apollo may want to get behind if

[2017-01-13 22:00] stubailo commented on #6
Yeah that's not a bad idea! I wonder if this is something the Exponent people are interested in, since they know a lot more about React Native and are looking into Apollo.

[2017-01-13 22:06] faceyspacey commented on #6
@stubailo can you paste links to the relevant code/lines that makes the Apollo devtools plugin work in the browser? I mean this can't be that hard. It just requires knowing how both the apollo devtools work and react-native-debugger.

[2017-01-13 22:56] stubailo commented on #15
Can you test out https://github.com/apollostack/apollo-client-devtools/pull/14 and let me know if it works for you?

[2017-01-13 23:14] stubailo commented on #6
It's pretty much just this: https://github.com/apollostack/apollo-client-devtools/blob/master/app/evalInPage.js

The code is already designed to run equally well as a React component in a page, and as a Chrome extension. The only functionality required is to eval stuff.

[2017-01-16 09:45] Jpunt commented on #15
Ah sure! Do you know how to install an extension by github/branch?

[2017-01-16 17:10] iki opened #16 "Add saving/restoring GraphiQL queries"
Enhancement proposal: It would be highly useful to be able to:
- save current GraphiQL query with variables, with editable save-name defaulting to given query/mutation name
- list saved queries for current endpoint, sorted by date from newest, or by save-name
- load selected saved query in the list
- delete selected saved query in the list
- rename selected saved query in the list
- save loaded an

[2017-01-16 18:15] stubailo commented on #16
This is a great idea! I think we can put those in `localStorage`, I'd be happy to accept a PR for this feature.

I think just the first 4 would be a good starting point:

- save current GraphiQL query with variables, with editable save-name defaulting to given query/mutation name
- list saved queries for current endpoint, sorted by date from newest, or by save-name
- load selected saved query in t

[2017-01-16 18:16] stubailo commented on #15
Did it work?

[2017-01-16 20:13] iki opened #17 "Add multiple GraphiQL tabs"
It would be highly useful to have the possibility to run multiple different queries on the developed site. In this aspect, it relates to a complementary ability to save/load GraphiQL queries in #16.

The implementation could be done e.h. using standard tabbed interface with tabs named after the queries/mutations in them, or `<unnamed>` for tabs with no named query yet.

[2017-01-16 20:14] stubailo commented on #17
Is this more useful than simply being able to load queries quickly? Is there a benefit to seeing two results at once?

[2017-01-16 20:15] #8 closed

[2017-01-16 20:16] stubailo commented on #8
Closing this specific issue, please open a new one with more detailed information if you are still experiencing problems.

[2017-01-17 08:01] Jpunt commented on #15
Yes 👍 did leave some notes at #14.

[2017-01-18 01:30] SachaG opened #18 "Show GraphQL Errors"
My main use case for Redux Devtools when working with Apollo is for viewing GraphQL query errors (which are not surfaced as regular JavaScript errors and also don't get thrown with any meaningful information on the server):

![https://d3vv6lp55qjaqc.cloudfront.net/items/2R2P1y0P0S1K1J3o2c3p/Screen%20Shot%202017-01-18%20at%2010.28.04.png?X-CloudApp-Visitor-Id=9292ee42fa5c7b5a4aea538793ce9914&v=4627

[2017-01-18 01:31] stubailo commented on #18
I think it should be quite easy to display the errors in the queries pane since it's just a matter of reading from the store. Might be an easy PR, want to take a stab at it?

[2017-01-18 02:25] SachaG commented on #18
I'm a bit busy right now so I don't want to claim this if somebody else wants to work on it, but I'll let you know if I do find the time. I do have a few ideas on what I'd like to see (for example, highlight the queries tab in red if a query has errors).

[2017-01-18 03:10] stubailo commented on #18
Yeah that would be a great improvement.

[2017-01-21 21:24] daniman commented on #15
Closing this, since I merged #14 and added some additional CSS to make the devtools look pretty nice in dark mode!

[2017-01-21 21:24] #15 closed

[2017-01-21 21:43] stubailo commented on #15
Awesome!

[2017-01-25 22:54] calebmer commented on #6
After looking into this. The Devtools don’t work out of the box for the same reason the React devtools don’t work out of the box. React Native runs your JavaScript in a web worker with the debugger, and because web workers were designed with a share nothing principle we can’t get to the global object that Apollo Client sets `__APOLLO_CLIENT__` on. There is an API in the Chrome dev channel for [`ch

[2017-01-25 22:59] calebmer commented on #6
I initially wrote of the https://developer.chrome.com/extensions/debugger APIs, but I’m going to look at it one more time given it’s the only other Chrome extensions API that mentions web workers (https://duckduckgo.com/?q=site%3Ahttps%3A%2F%2Fdeveloper.chrome.com%2Fextensions+worker&atb=v1&ia=web). I’ll report back with my findings 👍

[2017-01-26 00:47] calebmer commented on #6
Ok, so I might have a way to make this work. Using the [Chrome debugging protocol](https://chromedevtools.github.io/debugger-protocol-viewer/tot/Runtime/) we should be able to evaluate arbitrary JavaScript in a worker thread that we get from the [`chrome.debugger`](https://developer.chrome.com/extensions/debugger) API as long as we expect a JSON object to be returned. Which is good because [`chrom

[2017-01-26 19:26] calebmer commented on #6
Unfortunately, the Chrome debugging protocol will not work either, for two reasons:

1. In order to debug a process and inject code through that route into a web worker, our extension needs to take over the *entire* debugging procedure. What this means is that the user would see something like the image below, and the native Chrome debugging tools would not work.
2. Web workers that are simply use

[2017-01-26 21:09] zalmoxisus commented on #6
IMO, the best solution here is to have an electron app which would interact with Apollo client. Same as React and Redux DevTools do. It could be used exactly [like for React](https://twitter.com/jaredforsyth/status/822299073923391489).

However, I predict having a "DevTools fatigue", as you have to lunch dozens of apps in order to debug your code 😬. That is the issue which `react-native-debugger`

[2017-02-16 01:06] faceyspacey commented on #6
Not sure if this helped, but @gaeron just responded with a note to use the "Standalone React Devtools" package:

https://github.com/facebook/react-devtools/issues/229#issuecomment-280081973

https://github.com/facebook/react-devtools/blob/master/packages/react-devtools/README.md

[2017-02-19 08:59] tgjorgoski opened #20 "Ability to switch between multiple configured clients"
I'm experimenting with Apollo in the context of Angular 2 app. I connect to multiple graphql end-points , so I have configured multiple clients using ApolloModule.forRoot(provideClients).
Not sure if this is possible, but it would be nice if devtools shows a drop down showing available clients to use, whatever the current context in the webapp might be.

[2017-02-21 13:57] sedubois opened #21 "Apollo tab doesn't show up in DevTools"
For some reason, I used to be able to see Apollo in Chrome DevTools, but it doesn't appear any more. I tried with my own Graphcool project and with the next-apollo example: https://next-with-apollo.now.sh (`apollo-client@^0.7.3` and `react-apollo@^0.8.1`, see code: https://github.com/zeit/next.js/tree/master/examples/with-apollo). Reinstalling the extension didn't help.

<img width="972" alt="scre

[2017-02-21 15:17] kachkaev commented on #21
Just faced the same issue and then noticed that I had `connectToDevTools`option missing in the Client. E.g.L `new ApolloClient({ connectToDevTools: true });`.

In your case it's in [`lib/initClient.js`](https://github.com/zeit/next.js/blob/01cc89845040828c6e1f2bc053ff9c853d1635c5/examples/with-apollo/lib/initClient.js)

[2017-02-21 15:27] kachkaev opened #22 "Add color to the extension icon when GraphiQL is connected"
I was trying to figure out why the extension was not connecting to the app and it turned out that I simply forgot `connectToDevTools: true`. While I was in the process of fixing this, I noticed that the icon in the corner of the browser looks the same for both connected and disconnected apps. The redux one, however, becomes colorful if the store is discoverable so it's easy to know if the state ca

[2017-02-21 15:29] sedubois commented on #21
Ah indeed that was the issue, thanks. It's interesting because I don't think I ever used this config flag before...

I added this, due to SSR: `connectToDevTools: process.browser`.

[2017-02-21 15:29] #21 closed

[2017-02-22 03:24] stubailo commented on #21
Yeah right now the default is to check if `process.env.NODE_ENV` is not `production`, so maybe this somehow got set in your environment.

[2017-02-22 03:26] stubailo commented on #22
That would be awesome! Are you interested in sending a PR to add a feature like this?

[2017-02-22 05:24] sedubois commented on #21
Ah yes, indeed. In very early stages I was deploying to the Now platform and didn't set NODE_ENV.

[2017-02-22 07:21] kachkaev commented on #22
Hi @stubailo. Emotionally I am, but realistically I won't be able to find time on this in the next couple of months :–( Will be happy if someone else does it – this is probably just some copy-paste work from the redux extension. Thanks for  wrapping graphiql - really convenient!

[2017-03-08 04:58] jasonbahl opened #23 "Not working in Electron"
I've got React, Redux and Devtron devtools working in Electron, but can't get apollo-client-devtools working.

I'm using `electron-devtools-installer` and the following:

[code]

Outputs:

[code]

I'm using the same tool to download the other devtools as well.

However, when I open Electron devtools, I only see React, Redux and Devtron devtools, no sign of Apollo devtools.

I followed the logic an

[2017-03-08 06:00] jasonbahl commented on #23
Ok, so I did some digging and based on the Electron docs here (https://github.com/electron/electron/blob/master/docs/tutorial/devtools-extension.md) I was able to get Apollo Dev Tools working by adding the following:

`BrowserWindow.addDevToolsExtension( '~/Library/Application Support/Google/Chrome/Default/Extensions/jdkknkkbebbapilgoeccciglkfbmbnfm/1.0.5_0' );`

The other dev-tools work without h

[2017-03-08 06:04] jasonbahl commented on #23
Ah. . .

Digging some more, I'm seeing the React Dev Tools doing conditional creation of the panel based on  similar criteria to what the Apollo Dev Tools check, however, they've added a listener to check if React is added after page load. My guess is that by time the Apollo Dev Tools are instantiated in Electron it's too early for `window.__APOLLO_CLIENT__` to evaluate as true, so the Apollo dev

[2017-03-08 06:12] stubailo commented on #23
We should be polling constantly for that value to show up, so it would be surprising if that were the issue.

[2017-03-08 06:21] jasonbahl commented on #23
I submitted a PR #24

Not 100% sure yet that solves the issue. I'll play with it a bit more to confirm tomorrow.

[2017-03-08 16:45] tlvenn commented on #16
Why not simply leverage [graphiql-workspace](https://github.com/OlegIlyenko/graphiql-workspace), it provides pretty much all of the above and more:

![graphiql-workspace](https://raw.githubusercontent.com/OlegIlyenko/graphiql-workspace/master/screenshot.png)

[2017-03-09 11:44] tlvenn commented on #16
@stubailo what do you think ?

[2017-03-17 11:46] iki commented on #17
@stubailo I'm working on apps that use lots of queries. Now I play with parameters and structure of few queries and need to be able to switch between them quickly. The difference of proposed solution is one tab click versus having to save the current query (often under some new name as I do not want to overwrite original query with current temporarily modified parameters), load another query and r

[2017-03-22 04:44] daniman commented on #23
@jasonbahl Were you able to confirm if #24 fixes this issue? If so I can merge it and release a new version of the devtools :)

[2017-03-22 09:06] intellix opened #26 "Tab doesn't display in Angular apps"
**apollo-client**: 0.8.5
**apollo-angular**: 0.10.0
**apollo-client-rxjs**: 0.4.1

So I've had this extension installed for ages and have never ever seen the tab. Thought that the extension wasn't yet ready but saw a commit in Client that is pushing people towards this so figured I should take another look. Still no tab.

Within Angular apps, Apollo Client is lazily loaded and the `window.__APOLLO

[2017-03-22 14:08] jasonbahl commented on #23
Sorry. Haven't followed up. Will check today and let you know for sure

[2017-03-22 23:35] daniman commented on #18
This has been added, thanks to #25!

[2017-03-22 23:35] #18 closed

[2017-03-23 02:13] SachaG commented on #18
Oh that's great! Nice work :)

[2017-03-25 00:15] yanisurbis commented on #21
@stubailo Is there any site to check my extension is working fine? =)

[2017-03-27 20:18] jasonbahl commented on #23
So, I'm not exactly sure how to test this locally. From what I can tell, Electron is downloading straight from the Chrome store when compiling, so I'm not quite sure how to override and have it use my local copy of Apollo Devtools instead. . .I'll dig and see if I can figure that out so I can test properly locally.

For now, my only solution has been to manually add:

[code]

For the moment, that

[2017-03-28 03:15] jasonbahl commented on #23
for now I've settled on just adding this to my app for now:

[code]

Since that seems to be working, I'll probably just keep using that.

[2017-03-28 03:15] #23 closed

[2017-03-28 18:51] blackxored commented on #6
Any progress on this?

[2017-03-31 02:08] tlvenn commented on #16
Any feedback on leveraging graphiql-workspace guys ? Thanks.

[2017-04-01 16:06] cbranch101 opened #28 "Devtools Completely Locking My Browser"
On initial load, everything seems to work fine, but after a clicking around a couple of times, I start getting an unending stream of long process warnings for processes taking around 250 ms, about twice a second, which completely locks up the browser tab I have open.  Disabling Devtools causes it to go away.

If there's anything strange about our setup that might be triggering this, I'm guessing i

[2017-04-01 18:13] jblank46 commented on #28
I believe I'm seeing similar behaviour.  I am not sure if this is related or not, I thought about posting a topic for this but haven't submitted.  When I'm using the Apollo dev tools, I see its ram usage increasing over time consistently.  I also see it spiking cpu usage for extended periods of time and can't tell why.  I left the window up overnight and when I got back to my machine, my react app

[2017-04-04 13:47] slackday commented on #28
Same problem here instantly when opening dev-tools and making 2-3 clicks in App.

Mac OSX Sierra 10.12.3
Chrome Version 57.0.2987.133 (64-bit)

Friend also reporting same problem on his Unix system.

Any suggestions how to troubleshoot this further?

[2017-04-07 16:41] richburdon opened #29 "Devtools not showing up reliably."
Devtools sometimes shows up but mostly doesn't (race condition?)

Webpack: 2.3.3
Extension: 1.0.8.1
Chrome: 57.0.2987.133 (64-bit)
React/Redux/Apollo stack

The extension actually loads: Devtools/Sources shows that the hook.js Content Script has loaded, and indeed window.__APOLLO_DEVTOOLS_GLOBAL_HOOK__ shows the correct version (and of course, the Warning message doesn't appear).

Restarting Chrom

[2017-04-07 20:05] richburdon commented on #29
Probably unrelated, but when I do get the extension to load (e.g., by resetting the browser), I often get the spinning loading indicator in the GQL results panel, and massive slowdown of Chrome.

[2017-04-07 20:31] joshjg opened #30 "GraphiQL does not load from cache"
The GraphiQL tab works fine unless I check "Load from cache" - if I try to run a query with that option selected, it displays a never ending loading indicator. Not sure what details I can provide to clarify.

[2017-04-08 09:51] raix opened #31 "GraphiQL seem to disconnect on code changes"
I've setup the ApolloClient to use a client-side executor and schemas - no graphql server.

The graphiql ui picks this up nicely - but when I change the schema the app reloads modules and seems to disconnect the graphiql ui. So when running a query there will just be a spinner forever after code changes.

Workaround for now: Close and reopen devtools on code changes.

I saw the same symptom in @Ur

[2017-04-11 02:48] 100ideas opened #32 "apollo-client 1.0 breaking change: noFetch deprecated; use fetchPolicy"
Devtool's explorer pane's `load from cache` checkbox is hooked up to conditional logic that sets a boolean value passed to its apollo-client's queries' `noFetch` option.

The `noFetch` query configuration option has been replaced with a more sophisticated [`fetchPolicy` option](http://dev.apollodata.com/react/api-queries.html#graphql-config-options-fetchPolicy) in [apollo-client v1.0.0-rc.1](https

[2017-04-11 04:21] 100ideas commented on #32
Tried hacking the Explorer component in Explorer.js to set `fetchPolicy` instead of `noFetch`, but I don't think this is working (still makes network requests if the query results haven't been cached?)

[code]

[2017-04-11 18:33] cbranch101 commented on #28
After digging a little deeper, I think this function might be at least part of the issue.

https://github.com/apollographql/apollo-client-devtools/blob/master/app/components/Inspector/Inspector.js#L63-L69

It seems like what's happening is that something inside of `updateData` slows down to the point that it takes longer than 500 ms to run, and because it's on an interval, that function is basical

[2017-04-13 12:10] intellix commented on #29
Related? https://github.com/apollographql/apollo-client-devtools/issues/26

[2017-04-13 15:48] TheoMer commented on #26
@intellix Yes. This is the case here as well.

[2017-04-23 15:26] CodogoFreddie commented on #28
Experiencing (probably) the same problem, only started recently and renders my App unresponsive

[2017-04-24 14:23] kamilkisiela commented on #26
Only a function that returns an instance of `ApolloClient` is being executed when Angular bootstraps.

[code]

You can put `new ApolloClient` outside the function.

[code]

[2017-04-26 02:13] helfer commented on #30
Hey @joshjg, thanks for filing an issue. This looks like it's the same as #32, which provides a bit more detail, so I'll close it here.

[2017-04-26 02:13] #30 closed

[2017-04-26 02:15] helfer commented on #32
Thanks @100ideas !

Hm, I think that's going to start causing problems for us somewhat. We can update the devtools, but we'll have to know and check the version of Apollo Client to know which option to use.

Actually... we can probably just pass both options, because currently Apollo Client just ignores options that it doesn't know about 🤔

@100ideas would you be willing to make a PR to make this

[2017-04-26 02:17] helfer opened #33 "Version tracking might not be working with umd bundles"
@stubailo and I ran into an issue on apollo-client the other day which made us think that maybe the devtools can't detect the version of the umd bundles. This is actually an issue in apollo-client (build setup), but we should test if it's actually a problem here and track it if it is.

We need the version number to help make sure that the devtools are compatible with whichever version of Apollo Cl

[2017-04-27 05:06] helfer commented on #28
Thanks for filing the issue @cbranch101! I think your assessment is correct. @rrdelaney has volunteered to help out, and is looking into how we can avoid the costly copying.

[2017-04-28 04:15] faceyspacey commented on #6
This just came out:

https://blog.expo.io/using-react-devtools-with-react-native-6c59e636a03b

Maybe that provides another way this can be implemented.

[2017-05-06 01:59] rrdelaney commented on #22
This should be in v1.0.9! I'll close this when the release goes out.

[2017-05-06 04:34] 100ideas commented on #32
It's unlikely I'll spend time on this in the near future, but I will remember this thread if I do.

[2017-05-06 04:34] #32 closed

[2017-05-06 22:56] tnrich commented on #16
@tlvenn that seems like a great idea to me!

[2017-05-08 16:32] rrdelaney commented on #22
This got pushed out in the release yesterday 😃

[2017-05-08 16:32] #22 closed

[2017-05-10 01:46] stubailo commented on #16
I think this is a good idea, but it seems like a lot of the UI from that screenshot isn't necessary in the devtools, specifically the stuff with URL/headers.

[2017-05-10 04:26] stubailo commented on #2
I just got notified this was fixed!

[2017-05-10 04:26] #2 closed

[2017-05-11 14:41] ohjames commented on #29
Same thing here, only rarely do the devtools show up for me, even though the "A" icon lights up.

[2017-05-11 17:20] rrdelaney commented on #29
@ohjames Are you using React or Angular?

[2017-05-11 17:24] ohjames commented on #29
React. It's really good when it works. Usually the Dev tools tab is there but the queries don't get listed. When it lists those queries I'm all like: "it would be so useful if I could rely on this". Maybe one in twenty loads it works.

[2017-05-11 23:13] rrdelaney commented on #29
The initialization of Apollo might not be immediate. It's something we're working on a fix for in the dev tools 🙂 I'll update this when I'm closer to resolving the issue

[2017-05-11 23:40] ohjames commented on #29
It's more like, it shows up on a few reloads until it stops showing up. When it stops showing up it never shows up again rather than just being delayed. Then you have to restart the browser to get it again.

[2017-05-12 00:40] ryannealmes opened #35 "Mutations in apollo devtools"
I can't seem to find mutations in the apollo devtools. I would have thought it would work just like any other query.

Is this be design? Is there an enhancement planned? Am I just missing it?

Thanks.

[2017-05-12 02:19] bartlett705 commented on #35
I am pretty sure this is do-able, and I plan on taking a crack at it very soon!

[2017-05-12 02:22] rrdelaney commented on #29
That's definitely weird. It might be related to a performance issue then. How large are the queries in your app?

[2017-05-12 03:06] stubailo commented on #35
You mean the mutations that are currently attached to components in the UI, like the query panel?

Or a log of mutations?

Right now, you can already do mutations via GraphiQL, it would be good to get some more info about what you would like to know about mutations.

[2017-05-12 03:17] ryannealmes commented on #35
Yes like the mutations attached to components. Yes like the query panel.

Right now in apollo devtools you can only view a list of _Watched queries_ run. Mutations are not included. I am not talking about graphiql, I am talking about the apollo devtools chrome application.

Not sure what more information I can give.

[2017-05-12 08:01] ohjames commented on #29
Pretty small, I've just started porting components to use apollo-client. The issue started happening when I only had one query. Using the very latest chrome.

[2017-05-12 09:38] ohjames commented on #29
Colleague here experiencing exactly the same issue as me, they are on Mac and I'm on Linux. They are also working on a different project to me.

[2017-05-12 10:02] rrdelaney commented on #29
Good to know! Thanks for providing all this information 😄 The first step is to get a repro!

Are any of the codebases you're working with open source?

[2017-05-12 10:46] ohjames commented on #29
@rrdelaney The well known apollo example app on github: https://github.com/apollographql/GitHunt-React

She opened that, apollo tools worked, she reloaded the page about 5 times, then it wouldn't work again until she restarted it. It worked another few times and then the same story, she had to restart.

[2017-05-12 10:47] ohjames commented on #29
We are both using Chrome 58, me on Linux and her on Mac. Our experiences are just about identical to each other.

[2017-05-12 12:11] lucfranken commented on #6
That tool works fine so it would be very interesting to see if those 2 could integrate!

[2017-05-12 15:15] stubailo commented on #35
Yeah, being able to easily get the mutations from your code and see when they are called, and maybe call them yourself (even triggering the optimistic updates, etc) would be pretty sweet!

[2017-05-13 19:12] ryannealmes commented on #35
Hey guys I have made this change. Check it out and let me know what you think :)

[2017-05-16 10:05] Gethyl commented on #33
@helfer Are you getting the same issue, where the apollo dev tool is not working and on inspecting the network tab of the apollo dev tool, we can see the below error:-

![image](https://cloud.githubusercontent.com/assets/15939823/26100936/3a340936-39e4-11e7-888d-f7c3c0a6d0d0.png)

And apollo-client version is taken as _**local**_ in this request.

I am guessing it is related to the umd bundle as y

[2017-05-16 17:25] ohjames commented on #29
I noticed something else today... I opened up apollo-dev-tools after about one hundred reloads and it was working... I couldn't believe it given the number of reloads and how infrequently it works. From the next reload on it wouldn't work anymore.

So I'm pretty sure that using the dev tools one or more times (often just once) leads to a state where they can never be used again.

[2017-05-17 16:58] richburdon opened #39 "Load from cache doesn't return"
In the extension, select a query then check "load from cache"
The spinner appears and the results are not returned.
Unchecking the options returns the correct results from the server.
The correct items appear to be in the cache (Store tab) and ROOT_QUERY.

[2017-05-17 19:07] rrdelaney commented on #39
Thanks for filing an issue! What version of Apollo a client are you using?

[2017-05-17 19:39] richburdon commented on #39
[code]

I think the issues is related to https://github.com/apollographql/apollo-client/issues/1708

I.e., some internal error in apollo client (failing silently).

[2017-05-18 23:42] tnrich commented on #35
@ryannealmes where can we check this out?! Nice work!

[2017-05-19 00:13] ryannealmes commented on #35
You can pull down the repo and follow the readme to install the chrome extension
[code]
Note there is a dependency on the latest version of the apollo-client. This unfortunately couldn't be avoided. If you don't have the latest version, the mutations tab will not display.

Ping me with any feedback :)

[2017-05-19 06:26] tnrich commented on #35
I'm not seeing the mutations tab after following the above instructions.. I have what I believe is the latest apollo version `"apollo-client": "1.2.2"`

Anything you think I might be doing wrong?

![image](https://cloud.githubusercontent.com/assets/2730609/26235671/6c6dc38a-3c21-11e7-9693-189ab6777688.png)

[2017-05-20 07:13] ryannealmes commented on #35
Sorry looking at the apollo-client, they haven't released a new version yet. You can always modify your node_modules apollo-client directly if you just want to see it working. You can get the PR here https://github.com/apollographql/apollo-client/pull/1699

I just changed timezones so my responses may be a bit delayed.

[2017-05-20 15:57] CodogoFreddie commented on #28
Any progress on this? It's still happening on both my PCs

[2017-05-20 18:11] rrdelaney commented on #28
Still working on it! It's a pretty big part of the devtools and I'm still working on it 🙂

[2017-05-24 11:43] ryannealmes opened #40 "Some queries do not come through on client"
I am trying to figure out why queries that are executed directly on the ApolloClient with `.query` do not appear in apollo-client-devtools. Well they do appear, but only temporarily.

When composing a graphql query on a component you get the following actions
[code]
However when executing a query directly using the client (i.e. my case I am using withApollo to pass client to my component) you get

[2017-05-29 04:17] stubailo commented on #28
Yeah, basically we need to rearchitect how the devtools communicate with the application. Right now it's copying all of the state on an interval and making it do something else is a big effort. We're also getting some interns joining the Apollo team soon and I hope one of them can help write a totally new system :]

[2017-05-29 04:18] stubailo commented on #33
Yep - basically we introduced a new bundle format for Apollo Client which doesn't have that property. It doesn't affect most of the features, but we hope to put stuff like changelog announcements etc into the dev tools, and turn features on and off for different versions, so having a good sense of the version would be useful for sure.

[2017-05-29 04:19] stubailo commented on #40
This is because the dev tools look at currently active queries, and queries run with `query(...)` are only active for the short moment before the server returns. I think the best solution would be to keep some limited log of "recent queries" even when they are inactive.

[2017-05-29 04:36] Gethyl commented on #33
Thanks for the reply. So will it be coming in the next release?

[2017-05-29 04:39] stubailo commented on #33
Not that I know of.

Here's the line where we put a `version.js` file: https://github.com/apollographql/apollo-client/blob/5f8108aa675ad26ff86d80a1b766340f978b6e2f/scripts/deploy.sh#L40

But it's not used by the UMD build. Maybe we can make the UMD build first create that file, then it will be added to the build?

[2017-05-29 18:26] pleunv commented on #29
Just adding my 2 cents: I've never been able to get the devtools working myself, nor my colleagues, afaik.
`window.__APOLLO_CLIENT__` is set, production is `development`, `connectToDevTools` has been explicitly set to `true` and the tab is there, but it's just always empty. Pretty default apolloClient instance, using its own redux store (so 2 stores in total). Have it on both stable Chrome (58) an

[2017-05-29 18:31] rrdelaney commented on #29
I'm working on a new connection mechanism right now 🙂 It should (hopefully?) fix a lot of these issues! When I have something ready for testing, would you mind if I sent it to you to test?

[2017-05-29 18:33] pleunv commented on #29
Sure, go ahead :)

[2017-05-30 19:27] tnrich commented on #35
@ryannealmes did they release a new version? I saw they released this 4 days ago: https://github.com/apollographql/apollo-client/releases/tag/v1.3.0

[2017-05-30 20:09] ryannealmes commented on #35
There are some changes they want done which I need to do. Haven't had enough time to get to it. You can see the changes and add any comments on the PR.
https://github.com/apollographql/apollo-client-devtools/pull/36

[2017-05-31 10:37] ohjames commented on #29
Yeah... at the moment I have to restart chrome every time I want to use the tool, then restart again the next time etc. It's a drag.

[2017-06-01 03:25] kingkong2013 opened #42 "Query in watched queries panel disappeared after page loaded."
apollo-client@1.3.0
react-apollo@1.2.0

I can see Apollo tab in chrome after I add `connectToDevTools: true` into `new ApolloClient()`,
but the questions is when I open a page, the query displayed in the Watched queries panel, but soon when the page is ready, the query disappeared from the panel. why?

Thanks.

[2017-06-01 04:20] rrdelaney commented on #42
Thanks for submitting an issue!

Did you mean _I can see_? When you first load the page with devtools can you see the tab?

[2017-06-01 05:14] kingkong2013 commented on #42
@rrdelaney
Sorry for my wrong words,  I cannot see Apollo tab, unless I set connectToDevTools: true.

but in the old version:
"react-apollo": "^0.5.13",
"apollo-client": "^0.4.22",

I did nothing and apollo-client-devtools  worked great.
[https://github.com/apollographql/apollo-client/issues/1748](https://github.com/apollographql/apollo-client/issues/1748)

[2017-06-01 15:38] rrdelaney commented on #42
Thanks for clarifying 😄 Is the code base you're working on open source? I'd love to dig into this issue deeper

[2017-06-01 15:57] oliverwoodings commented on #29
I would definitely be up for helping you test this @rrdelaney - have been experiencing the same issue!

[2017-06-01 16:48] rrdelaney commented on #29
@oliverwoodings awesome to hear! I'll have a usable version hopefully soon, and I'll post a built version here.

[2017-06-01 22:41] blackxored commented on #6
Sorry if I'm incorrect since I haven't dived very deep into any of these projects, but doesn't react-devtools (npm) use eval which is what this seems to require?
ws://localhost:8097, messages starting with `eval:`.

[2017-06-02 19:22] faceyspacey commented on #6
@stubailo @jhen0409 you guys really should work together to get this into

[react-native-debugger](https://github.com/jhen0409/react-native-debugger)

I personally only use React Native Debugger now, and it is top notch. @jhen0409 has done a whole lot to incorporate everything in a seamless/frictionless manner. Basically, when using it, it's finally like us developers are using the sort of GUI-bas

[2017-06-02 19:22] faceyspacey commented on #6
Here's the related issue in @jhen0409 's package:

https://github.com/jhen0409/react-native-debugger/issues/61

[2017-06-02 23:07] evanshauser commented on #39
@rrdelaney I ran into the same issue and found that through Apollo Client the cache was accessed correctly. The issue may be that noFetch should be changed to fetchPolicy: "cache-only", since noFetch no longer exists.

[2017-06-02 23:10] rrdelaney commented on #39
@evanshauser Thanks for looking into this more! Hopefully I can look into this later tonight.

This is probably where the code should be updated: https://github.com/apollographql/apollo-client-devtools/blob/master/app/components/Explorer/Explorer.js#L82

[2017-06-03 02:40] jhen0409 commented on #6
I'm migrating to GraphQL on the road, Apollo devtools might be my one of goal for improving our workflow, but I have more high priority works to do, so I haven't yet try to do this. 😢

Just saw the disscussions, I think it need to explain, currently the `redux-devtools` implementation of `react-native-debugger` isn't used websocket as bridge, it built on top of WebWorker message, [here is the impl

[2017-06-03 07:15] blackxored commented on #6
I understand. I wasn't implying that redux-devtools uses websockets but
react-devtools does. I was suggesting to leverage that. It'd probably
require:

1. A custom hook in react-devtools, the ability to add hooks, or leveraging
an existing eval message (either would do). I see hooks for react inspector
and relay, but that's as far as I went.
2. Env detection in Apollo Client dev tools, the simple

[2017-06-03 15:35] jhen0409 commented on #6
I'm meaning the earlier comments.

It's also a one of the possible way, but it's mean we will implement it in `react-devtools` repo. If we have to use websocket, I think make it as a standalone app will be a better choice.

[2017-06-08 02:14] faceyspacey commented on #6
@jhen0409 thanks so much for responding! Your thoughts on how to do this is exactly what's needed to take this to the next stage. @stubailo any thoughts from the Apollo team?

[2017-06-08 09:04] zalmoxisus commented on #6
Unlike other extensions, Apollo DevTools doesn't rely on the background page script (it uses it only to show the icon). It could be possible to include it in React Debugger, without any changes on `apollo-client-devtools` side, by just redefining [`chrome.devtools.inspectedWindow.eval`](https://github.com/apollographql/apollo-client-devtools/blob/40a5d2c7cb22ac64f2e73a5ac0d139f483e2daa5/app/evalIn

[2017-06-13 18:56] gforge opened #44 "Devtools fails to detect that client and graphql backend are located on different ports"
I  have a separate backend that is independent of my client and is served at a different port. Unfortunately devtools fails to detect this and looks for the /graphql at the same server as the app is served from. Is there a solution to this or is this a bug?

[2017-06-13 19:08] stubailo commented on #44
The devtools use your Apollo client configuration from inside the app. What does your network interface configuration look like?

[2017-06-13 23:21] thomassuckow commented on #28
Seems like rather than setting an interval or setting timeout at the beginning of a polling cycle it could setTimeout at the end so at least you get half a second of work done between polls as a stop gap.

[2017-06-14 04:06] tnrich commented on #28
Dunno if my PR will help but it seems like it could alleviate things in the short term:

https://github.com/apollographql/apollo-client-devtools/pull/45

[2017-06-14 22:56] ramyanaga commented on #9
@linonetwo Is this still an issue? If so, can you give us more info on when/how this is occurring? We haven't been able to replicate this error, so more context would be useful.

[2017-06-19 05:15] geelen commented on #28
Just hit this problem as well. @tnrich's PR could be an easy fix but this sounds potentially even better & might be doable without rearchitecting anything:

[2017-06-19 05:24] geelen commented on #28
I just realised this could be something related to live reloading? It seems to happen after I've been making a few edits, potentially there are lots of `setInterval` calls happening, which cause them all to slow down, and then the forkbomb occurs...

[2017-06-20 00:16] #39 closed

[2017-06-20 04:43] rrdelaney commented on #35
PR is merged 😄 I'll close this when the feature is released

[2017-06-20 04:45] rrdelaney commented on #31
There seems to be problems with hot reloading and the devtools. Can you link to the codebase you're working on?

What types of components are you reloading? The entire app, or only smaller functional ones?

[2017-06-20 21:30] raix commented on #31
I'll se if I can do a replication

[2017-06-21 23:23] akoutmos opened #48 "Incompatible with Chrome dark theme"
When using the dark theme for Chrome dev tools, the extension fails to render properly. Confused me at first as I thought none of my queries were showing up in the list, but it turns out that the text was rendering as white against a white background.

[2017-06-22 08:08] Draccoz commented on #48
Same thing here. This is pretty annoying, as I cannot see any active queries or store contents without highlighting the text (`ctrl + a`). Here are some screens:
![image](https://user-images.githubusercontent.com/4731061/27423574-6c2a7cc0-5732-11e7-9eda-1ef7ab4aad71.png)
![image](https://user-images.githubusercontent.com/4731061/27423584-75c125ea-5732-11e7-9573-18de52b9e9dc.png)
![image](https://u

[2017-06-22 16:12] rrdelaney commented on #48
Should be some CSS - I'll look into this 💯

[2017-06-23 05:36] stubailo commented on #48
That's odd! We recently had a PR adding dark theme support: https://github.com/apollographql/apollo-client-devtools/pull/14

I wonder if we broke it somehow.

[2017-06-23 05:38] stubailo commented on #48
Oh - @rrdelaney I bet the PR for adding a white background for Firefox added a white background for Chrome dark mode as well. Before the background was transparent, and ended up being dark by default. So it looks like the CSS for making the text light is working as intended :]

Basically we just need to look at everywhere `white` was added here: https://github.com/apollographql/apollo-client-devto

[2017-06-23 05:41] stubailo commented on #44
Closing since no response and this doesn't look like a bug.

[2017-06-23 05:41] #44 closed

[2017-06-24 16:22] stubailo opened #50 "Update description on Chrome web store"
https://chrome.google.com/webstore/detail/apollo-client-developer-t/jdkknkkbebbapilgoeccciglkfbmbnfm

This doesn't list the mutation panel yet, and doesn't have a screenshot.

[2017-06-26 11:52] linonetwo commented on #9
I'm closing this since it's not a common case.

[2017-06-26 11:52] #9 closed

[2017-06-26 23:42] tnrich commented on #40
@stubailo We definitely would love a way to see a list of unwatched queries. They are equally important as watched queries so there is no reason not to have them.

Thanks!

[2017-06-26 23:46] tnrich commented on #35
Looks like this has been released?! Anyone want to verify that?

[2017-06-27 00:23] ramyanaga commented on #35
It has been released!

[2017-06-27 00:23] #35 closed

[2017-06-28 08:41] tnrich commented on #28
@thomassuckow I've expanded upon your ideas in https://github.com/apollographql/apollo-client-devtools/pull/53

@cbranch101 I also realized that the same thing was happening in Panel.js

[2017-06-29 02:16] rrdelaney commented on #48
Fixed by #52

[2017-06-29 02:16] #48 closed

[2017-06-29 02:18] rrdelaney commented on #42
Closing do to inactivity

[2017-06-29 02:18] #42 closed

[2017-06-29 08:12] tnrich opened #54 "Why doesn't cmd-click work in apollo?"
Why doesn't hitting cmd make different attributes selectable in the apollo devtools?

A gif is worth a thousand pictures (aka 1M words):
![timing](https://user-images.githubusercontent.com/2730609/27677815-cb58c140-5c67-11e7-8d1e-fee4e56473fc.gif)

Although the above gif doesn't show it, I can confirm this doesn't work even when the docs panel is open and loaded.
It would be awesome if this just w

[2017-06-29 11:42] Draccoz commented on #48
When can we see it live?

[2017-06-29 15:36] rrdelaney commented on #54
What version of GraphiQL are you using on localhost? It might be a feature in a newer version.

I'm currently working on updating the version we use anyway 🙂

[2017-06-29 17:38] rrdelaney commented on #48
A release was just pushed to the Chrome Webstore, should be live within the hour!

[2017-06-29 21:38] tnrich commented on #54
I'm using `"express-graphql": "^0.6.4"`

Is that what is providing graphiql?

[2017-06-29 22:51] rrdelaney commented on #54
Looks like that uses GraphiQL version [0.10.1](https://github.com/graphql/express-graphql/blob/master/src/renderGraphiQL.js#L19).

I'll update GraphiQL and see if we get the feature for free

[2017-06-30 08:48] Draccoz commented on #48
Works like a charm, thanks for quick respond!

[2017-07-03 06:38] rrdelaney commented on #28
Just merged #53 - let's see if it helps 😄

[2017-07-06 22:26] mistic opened #56 "Fast close & reconnect loop when using with websockets transport"
Hi @daniman @stubailo ,

This extension isn't working very well when I use `subscriptions-transpor-ws` as a network interface for the apollo client. The GQL operations are working as intended using the apollo client but when I open the dev tools and start using graphiQL shipped with this extension, right after click on the play button the onclose callback from the websocket is called and the close

[2017-07-06 22:32] stubailo commented on #56
Oh, that's interesting! I can't imagine why that would happen since it does queries in the same way as Apollo Client does. Do you have a simple example we could run to reproduce the issue?

[2017-07-06 22:43] mistic commented on #56
@stubailo You can use the `GitHunt-API` and the `GitHunt-React` together. Just set ` wsTransportType='full'` inside the `GitHunt-React` `config.js` file, open the dev tools and try to make a query. The same error will happen :)

[2017-07-07 21:48] stubailo commented on #54
Yeah, I think we should just upgrade and see what happens :]

[2017-07-07 21:54] stubailo commented on #40
Yeah, I think that would be more of a request log or query log, whereas the watched queries thing is more about what's active on the page. I think the query and mutation request log could be one panel, and watched queries be another panel.

[2017-07-07 21:57] stubailo opened #57 "Set up prettier"
Example: https://github.com/apollographql/react-apollo/commit/8af4384ad2e31afdb7360e74575fc87cdcf21155#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

[2017-07-07 22:44] ramyanaga commented on #50
Resolved.

[2017-07-07 22:44] #50 closed

[2017-07-08 00:56] jbaxleyiii commented on #57
@ramyanaga if you have any questions about setting it up let me know! I'd love to help out!

[2017-07-09 05:29] stubailo opened #58 "postMessage fails when query information contains non-serializable values?"
https://github.com/apollographql/apollo-client/issues/1871

Looks like it has trouble with some objects like `Date`  types which are still OK when JSON serialized and sent to a GraphQL server.

[2017-07-10 23:00] rrdelaney commented on #54
Should be resolved by #59 😄

[2017-07-10 23:00] #54 closed

[2017-07-10 23:18] tnrich commented on #54
Wahoo! When will this be live?

[2017-07-10 23:48] ramyanaga commented on #54
Should be live now!

[2017-07-12 18:44] backjo opened #60 "Uncaught Error: Schema must be an instance of GraphQLSchema."
Hi,

I'm getting the following error when using the graphiql tool inside of the devtools (graphiql works fine outside of apollo devtools for 0.11.2)
latest react-apollo (1.4.3) and apollo-client(1.8.0)

Uncaught Error: Schema must be an instance of GraphQLSchema. Also ensure that there are not multiple versions of GraphQL installed in your node_modules directory.

[2017-07-12 18:51] ramyanaga commented on #56
@mistic Is this issue still occurring? I've made the changes you mentioned in your last comment to Githunt-React, but I'm still able to run queries in the graphiql tab of the devtools.

[2017-07-12 19:09] ramyanaga commented on #60
Do you know how I can replicate this error on my computer, or can you provide us the repo you're developing on so we can further address this? In the meanwhile, apollo-client had similar issues 2 years ago, and this link might help: https://github.com/graphql/graphiql/issues/58
Thanks!

[2017-07-12 21:15] backjo commented on #60
Let me create a sample repo

[2017-07-12 22:01] backjo commented on #60
@ramyanaga don't even need a sample app - if you open apollo client devtool on www.githunt.com, you will see similar issue when you try to query feed items (autocomplete will not work, and if you open console for devtools, you will see err messages)

[code]

[2017-07-12 22:11] backjo commented on #60
devtools version from web store:  2.0.1

[2017-07-12 22:56] ramyanaga commented on #28
@cbranch101 Is this still a problem?

[2017-07-13 00:44] tnrich commented on #28
I believe that this is no longer an issue

On Wed, Jul 12, 2017, 6:57 PM Ramya Nagarajan <notifications@github.com>
wrote:

[2017-07-13 09:34] Aides359 opened #61 "Ability to stop running queries"
When running a query and out of any reason the server doesn't respond the result window just loads forever. Closing and reopening the devtools is the only option to get it working again.

It would be nice to be able to cancel a running query (i.e. play-button turning into stop-button with appropriate shortcut).

[2017-07-13 15:19] cbranch101 commented on #28
Yep, this fixed it for me, thanks guys!

[2017-07-13 15:19] #28 closed

[2017-07-14 23:09] #57 closed

[2017-07-17 14:16] jbaxleyiii opened #64 "Uncaught DOMException: Failed to execute 'postMessage' on 'Window' #1879"
From [AC](https://github.com/apollographql/apollo-client/issues/1879)

* could be related to [#1871](https://github.com/apollographql/apollo-client/issues/1871)

I have afterware on my apollo client to handle errors in my app. In order to check the server's response status I have to clone the response. It was working fine until suddenly (chrome update?) I started getting this message:
`DOMExceptio

[2017-07-17 17:08] ramyanaga commented on #64
Are you trying to post objects that are not Json-serializable? If so, this is the same issue as #58

[2017-07-17 21:37] #33 closed

[2017-07-17 22:27] ramyanaga commented on #60
@backjo Looks like this error is being caused by a graphiql update. I'm currently trying to find a version of graphiql in which both intellisense and cmd+click functionality work.

[2017-07-18 17:23] stubailo commented on #64
Ah! Maybe this error has to do with errors being displayed in the dev tools?

[2017-07-18 20:53] mistic commented on #56
Hey @ramyanaga It still happens exactly as I have reported :( Please assure you are making the queries over websockets and not over http.

[2017-07-21 19:08] tnrich commented on #64
Hitting this error as well. Does anyone have an idea why having an afterware with `response.clone() `  would be causing this to occur? I don't follow the logic there. Thanks!

[code]

[2017-07-24 10:15] amannn opened #66 "Autocomplete in GraphiQL"
I've noticed that the GraphiQL inside the apollo client devtools doesn't react to ctrl+space interactions, which usually shows an auto complete for properties on GraphQL types.

Is there a specific reason for this or could this be added?

I prefer the Apollo devtools to running GraphiQL on an endpoint as the devtools are configured with the right HTTP headers. This is really helpful for my apps, a

[2017-07-24 16:24] tnrich commented on #58
Anything I can do to help fix this? Running into this issue now and am not sure how to debug it, but would love to have the apollo devtools back up and running.

[2017-07-24 17:16] ramyanaga commented on #66
This is most likely because we updated the version of GraphiQL running inside the devtools -- I'm taking a look at it now, and we'll keep you updated on progress!

[2017-07-24 17:28] ramyanaga commented on #64
@tnrich The breaking is in the hookLogger function defined in hook.js; its because chrome's postMessage function can't handle non-serializable objects. (I think)

[2017-07-24 17:47] tnrich commented on #64
@ramyanaga , thanks for the info!

Just to be clear, you're referring to this line in particular
[code]
https://github.com/apollographql/apollo-client-devtools/blob/master/extension/hook.js#L27

That's what looked like the culprit might be to me as well. Is there something simple we could do to provide better feedback to the user? Perhaps something like:
[code]

[2017-07-24 18:53] ramyanaga commented on #64
@tnrich yep that's the line in particular. I'll try adding that line to give better error messages, but ideally I'd just stringify and unstringify the object within the app.
Also, are you running the most recent version of the devtools (2.0.2)? I created a test app that uses response.clone() in afterware, but I don't seem to be having a problem

[2017-07-24 18:59] tnrich commented on #64
@ramyanaga , Yes I am using the latest version of the devtools, but I commented out the response.clone() line and I am still hitting this issue so it must be coming from something else. I was just confused initially and saw the `.clone() ` in the error message  and thought that my call was causing it.

[2017-07-24 19:01] tnrich commented on #64
@ramyanaga Also, what do you mean by

Where in the app would you be doing that? In the apollo client itself? Or are you saying that as a user I could do a stringify/unstringify myself?

Thanks!

[2017-07-24 19:16] ramyanaga commented on #64
@tnrich So the reason this error is occurring is because the user is including non-serializable objects in their queries (or mutations), which chrome's postMessage function cannot handle. For example, if the user passes in a date, postMesage will throw an error. I'd like to manually serialize this date object, then pass it through the message channels, then convert the data back into a date object

[2017-07-24 19:20] tnrich commented on #64
@ramyanaga Cool, thanks for the info!
Are non-serializable objects allowed in graphql queries? I, maybe incorrectly, thought that only json was allowed in graphql queries?

[2017-07-25 19:02] ramyanaga commented on #66
@amannn What version of the devtools are you running? I'm not running into this issue

[2017-07-25 19:04] stubailo commented on #29
We've completely rewritten the way we detect and load data, especially thanks to @ramyanaga and @rrdelaney! Please let me know if this has been resolved, and I'll reopen if not!

[2017-07-25 19:09] frehner commented on #29
@stubailo Can you let us know which version we should be on to see the improvements? Thanks!

[2017-07-25 21:52] ramyanaga commented on #29
@frehner Version 2.0.2!

[2017-07-26 06:42] amannn commented on #66
@ramyanaga Hm, that's strange. I'm using Apollo Client Developer Tools 2.0.2 and Chrome 60 on macOS Sierra. I have a German keyboard layout (QWERTZ) – not sure if that makes a difference. I'm getting neither an autocomplete while typing in field names as well as when pressing ctrl+space. In a regular GraphiQL App I don't have these issues.

[2017-07-26 13:28] ShockiTV commented on #29
I installed it first time 10m ago to use extension, A icon is active, no Apollo tab in devtools :-(

"apollo-client": "^1.4.2",
"react-apollo": "^1.4.2",

[code]

[2017-07-26 14:46] peisenmann commented on #64
@ramyanaga This is causing a fatal issue in my app whenever we get an error from our GraphQL server (An error where the HTTP response code is 200, but the response contains an `errors` property). As far as I can tell, the root of the issue is that ApolloClient dispatches [1] an instance of `Error` (since `ApolloError extends Error` [2]) to Redux. `Error` objects are not able to be sent via `window

[2017-07-26 17:18] ramyanaga commented on #64
@peisenmann Thanks for the info. Can you reproduce the error for us or give us a way of reproducing it (using a site like Githunt). I'll look into it more and see if there's a way we can convert Errors to JSON before sending them through window.postMessage

[2017-07-28 10:03] pleunv commented on #29
Running `apollo-client@1.9.0-1`, `react-apollo@1.4.8`, `apollo-client-devtools@2.0.2` and still ust getting a blank tab I'm afraid :/

[2017-07-28 17:09] ramyanaga commented on #29
@pleunv @ShockiTV Have you guys tried uninstalling and re-installing the devtools? (even if you just installed them for the first time) Also, are you getting any error messages in your console that you could share with us?

[2017-07-28 18:08] stubailo commented on #29
@pleunv if you could send over an app where it happens and/or a quick screen recording, that might help! It's been really hard to track this one down for some reason :[

[2017-07-28 18:41] ShockiTV commented on #29
I just removed and added extension. For me, 1 example would be.
1) open new chrome tab
2) open developer tools
3) write http://www.githunt.com/ in url
4) see there is no related error and no Apollo tab added
5) close and open developer tools
6) tab appear together with all the other extensions like react and redux

Checking the 'allow access to file URLs' did not change anything

[2017-07-31 10:49] infinityfye opened #69 "Bump-up graph-tag version"
Can you please bump-up graphql-tag and graphql versions? Because sometimes issues like [this (issue #47)](https://github.com/apollographql/graphql-tag/issues/47) from graphql-tag pops-up when I'm testing out queries through the Dev Tools. e.g.: when I'm checking store values vs re-fetching values.

p.s. This is my first ever github issue; I hope I wan't rude or anything.

[2017-07-31 21:47] ramyanaga commented on #69
Do you mean updating the graphql and graphql-tag versions?

[2017-07-31 23:05] infinityfye commented on #69
Yes, issues like the ones I have mentioned earlier have been resolved in later versions of graphql-tag and graphql.

[2017-08-06 05:16] RafaelCosman commented on #8
@stubailo I'm still experiencing problems with the dev tools not showing up.

[2017-08-09 08:07] n1ru4l commented on #64
Hey guys, I am also experiencing this issue when sending encoded json as a string.

Request payload:

[code]

Relevant types:

[code]

The "JSON" field are stringified before so AFAI this should not have any custom behaviour. I will try to set up a reproduction repo.

[2017-08-09 09:01] n1ru4l commented on #64
The issue was a non-serializable array ([which was provided by Ember](https://www.emberjs.com/api/ember/2.14/classes/Ember.Array)). **I fixed the issue** by converting it to a "plain" array before passing it into the mutation.

[2017-08-18 07:03] joshuataylor opened #72 "Opt out of analytics"
With analytics built in, would be nice to optout (unless I'm missing it somewhere?).

[2017-08-18 19:39] stubailo commented on #72
Hi! It's really helpful for us to be able to know which features of the dev tools are most frequently used - is there a particular concern you have with it? All of the data is completely anonymous so we cant use it to track across sites or anything like that.

[2017-08-19 15:05] joshuataylor commented on #72
Makes sense, cheers. Just always wary about extension tracking.

[2017-08-21 15:25] avrelaun opened #73 "Firefox support"
Can we have official firefox support for this addon ?

The build from https://github.com/apollographql/apollo-client-devtools/pull/41 works for now, but it's not durable.

[2017-08-21 20:25] stubailo commented on #72
Thanks! The Chrome Extension TOS forbid a lot of kinds of tracking, so we've been careful to follow that!

[2017-08-21 20:25] #72 closed

[2017-08-29 18:48] lobosan commented on #64
Same here, this is my resolver with apollo server
[code]

And this is the error I'm getting in the console when committing an action with vuex:
[code]

[2017-09-01 19:33] tnrich commented on #40
@stubailo I'm not sure I agree as I like the query/mutation division that currently exists. But, whatever the final solution looks like, it will be a big improvement so long as it adds the ability to review/replay unwatched queries.

Towards that end, I'm going to start hacking on a fork trying to implement this when I have some spare time.

[2017-09-02 16:54] olaf89 commented on #66
I have same issue, autocomplete not working Apollo Client Developer Tools 2.0.3 Chrome 60 also on Mac

[2017-09-03 22:59] coffenbacher commented on #29
I'm seeing this on `window.__APOLLO_DEVTOOLS_GLOBAL_HOOK__ = {version: "2.0.3"}`, have there been any updates or workarounds that seem to fix this?

On rare occasions it has worked for me, on frequent occasions the `A` logo in the toolbar has darkened but there is no tab in devtools, and currently the `A` logo doesn't darken and there is also no tab.

[2017-09-04 06:23] evankyle commented on #66
Same for me.  No auto complete in GraphiQL win7, chrome 60, Apollo Dev Tools 2.0.3

[2017-09-08 19:07] tnrich opened #74 "apollo devtools are taking a ton of cpu to run"
I have a fairly large app with many queries being made. When I have the apollo devtools enabled, I find that after a short bit, my computer fan starts working double and the chrome extension helper is using ~100% cpu.

I'm not sure if this is related to the issue I tried to help fix https://github.com/apollographql/apollo-client-devtools/issues/28, or if it is related to something new. My browser

[2017-09-08 19:30] stubailo commented on #74
Well, it's good to see some improvement! But there is still a lot of opportunity to reduce CPU usage. Curious about the following:

Do you still see the issue if...

1. You don't open the dev tools panel at all
2. You open the dev tools, but stay on the GraphiQL page

[2017-09-08 20:02] tnrich commented on #74
Hey @stubailo, the issue occurs whether or not the apollo tool is the current tab or not. The chrome devtools DO need to be open for it to happen however.

Hmm it looks like a lot has actually changed since I last looked at this. It is probably due to new changes then that stuff is slow again.

Can you point me to the commit where this code got introduced?
[code]
And, is there anything buffering t

[2017-09-08 20:14] tnrich commented on #74
Some other little things:
This code appears to not be doing anything anymore:
[code]
https://github.com/apollographql/apollo-client-devtools/blob/master/app/components/Panel.js#L83

[2017-09-08 20:22] tnrich commented on #74
Hmm after putting some console logs in the new code, it looks like the `backgroundPageConnection.onMessage.addListener(` listener isn't getting called very often so that probably isn't the issue. I'll keep investigating!

[2017-09-08 21:26] stubailo commented on #74
Yeah the main change is that we now push events from the page instead of polling. Any information about what is taking up the CPU time would be much appreciated for sure!

[2017-09-09 03:15] tnrich commented on #74
@stubailo so I hit the high cpu usage again and it appears it only happens when I hit a debugger or error in my application code. When I have the apollo devtool enabled I hit ~130% cpu vs ~5% when it is disabled.

[2017-09-13 05:06] akagomez opened #75 "DOMException: Failed to execute 'postMessage' on 'Window'"
There are two other `postMessage` related issues logged here (#64, #58), but they both seem related to passing non-serialized objects.

In my case, a simple mutation as described in the "[Apollo User Auth w/ Email](https://www.graph.cool/docs/tutorials/react-apollo-email-oopheesaj9)" guide will throw this error if executed more than once.

The error isn't thrown with the Apollo Dev Tools disabled.

[2017-09-13 06:11] stubailo commented on #75
@akagomez the link to the guide seems to be incorrect; it would be super helpful to have a reproduction since we have been missing one!

[2017-09-13 14:21] akagomez commented on #75
Whoops! Fixed the link.

@stubailo If it doesn't turn out to be too much trouble, I'll try and cobble something together.

[2017-09-15 15:25] harmon25 commented on #74
hmm when testing React 16 rc2 in a rather large react + apollo app - i was getting some unexplained browser crashes, like entire tab hanging/unresponsive with seemingly no errors. Could have been some other interaction between dependencies...

Had Apollo tools enabled the entire time, did not think it was the cause, but after seeing this issue and the symptoms - I.E fans spinning loud,  may have b

[2017-09-23 18:00] pcooney10 commented on #8
+1

[2017-09-25 16:15] pleunv commented on #29
I completely forgot about this until a colleague asked me about it today. Had another look and noticed that Chrome now let me inspect the iframe of the apollo extension that was failed to load (I swear it didn't before). And tadaaa:

[code]

Turns out that blocking third party cookies & site data in Chrome's settings completely blocks extensions from accessing `localStorage`, thus also breaking ap

[2017-09-25 16:34] coffenbacher commented on #29
Unfortunately that setting was already disabled for me. And the non-deterministic initialization for me leads me to believe the problem I'm seeing is along the lines of a race condition.

Glad that worked for you though!

[2017-09-26 22:07] larryranches commented on #6
Any traction on this?

[2017-09-27 20:55] voodooattack commented on #29
I also get a blank tab no matter what I do. Is there any solution to this?

[2017-09-27 22:10] pleunv commented on #29
If you enable `Developer mode` in the Chrome Extensions menu you'll see links to specific dev tools instances for each extension. If you open up the correct one you should (hopefully) see some errors in your console log that might narrow down the issue.

![image](https://user-images.githubusercontent.com/182021/30940382-34789374-a3e1-11e7-922c-4a39fd3c7e60.png)

[2017-09-27 22:29] voodooattack commented on #29
@pleunv I see nothing. No errors (or any other output) at all.

[2017-10-05 10:45] davidblurton opened #78 "Compatibility with Apollo 2"
Are the dev tools supposed to be compatible with Apollo 2? We're running 2.0.0-alpha.28 and the dev tools don't work. Endless loading and unable to load schema.

[2017-10-06 15:16] TAQ2 commented on #66
same here mac chrome 61 Apollo Dev Tools 2.0.4, thanks for the help

[2017-10-09 11:50] ShockiTV commented on #29
I have the 3rd party cookies block turned off also, so it is not that.
As mentioned in my step by step reproduction, it depends on the time when you open dev tools.
Somehow react/redux extensions are kinda waiting or polling so they react to being loaded. Not a case for apollo.
Feels like race condition due to not listening for some hook or something like that.

[2017-10-09 12:15] ohjames commented on #29
I've updated this plugin many times but I just see the same issues over and over.

We need to find a minimal example that can reproduce it so the developer can verify it's been fixed.

I've yet to find a project this devtool works reliably on, given that it should be pretty easy to come up with a test.

[2017-10-09 12:27] coffenbacher commented on #29
It should be fairly easy, given that I see it all the time as well, but the
behavior I see feels like some sort of race condition. I've yet to find a
simple situation where it fails every time, only most times.

On Oct 9, 2017 08:15, "James Pike" <notifications@github.com> wrote:

[2017-10-09 12:31] ShockiTV commented on #29
From step by step reproduction I wrote above
1) open new tab
2) open devtools
3) enter URL of apollo enabled site
No Apollo tab ever in devtools (react and redux tabs would initiate).

If you open devtools after app apollo part is initiated it would load properly.

[2017-10-09 19:40] ohjames commented on #29
@coffenbacher Weird, I have an app here that takes out apollo dev tools forever until you restart the browser ;)

[2017-10-12 14:10] austingray commented on #60
@ramyanaga Have you had any luck figuring this out? It was working on my end when I was doing:

[code]

But after switching to:

[code]

It stopped working. Thank you!

[2017-10-13 01:19] timbotnik commented on #12
I'd also love to see a way to sort the query list by "last run" (probably also show a timestamp column) so i can see what's running as i click around the app.

[2017-10-13 10:30] davidblurton commented on #78
The chrome web inspector shows the following error on startup
[code]

[2017-10-25 17:14] glasser opened #81 "GraphiQL results show `[object Object]` for errors without data with AC 2.0"
I just upgraded to AC 2.0 and devtools 2.0.5.  When I run a query, I get `[object Object]` as the response instead of JSON.

![image](https://user-images.githubusercontent.com/16724/32012615-48226c5a-b96d-11e7-8a92-e79e131d21f0.png)

[2017-10-25 17:15] glasser commented on #78
This error is alleviated by version 2.0.5 of the devtools.

That said, I then run into #81.

[2017-10-25 17:21] glasser commented on #81
Ah, this seems to specifically happen with certain kinds of errors, like unknown fields. So this query

[code]

triggers the issue.

[2017-10-25 17:23] glasser commented on #81
Looks like the difference between this kind of response which looks good:

[code]

and this which doesn't

[code]

[2017-10-25 18:40] glasser opened #82 "README refers to nonexistent GitHunt-React branch"
The README suggests developing against the GitHunt-React `devtools` branch, which does not exist.

[2017-10-25 18:46] glasser commented on #81
May also be the difference between a 200 response and a 400 response.

[2017-10-25 18:50] glasser commented on #81
Confirmed that it definitely works with AC 1.0.

[2017-10-25 19:16] glasser commented on #81
OK, this issue needs to be fixed in apollo-link-http, not just in the devtools.  It's because of [this code](https://github.com/apollographql/apollo-link/blob/cdb2a5ec2629cef1c56f96eab226c38528aff846/packages/apollo-link-http/src/httpLink.ts#L21-L24) which doesn't appear to have an equivalent in the 1.0 createNetworkInterface.

[`apollo-server` turns any response with `error` and no `data` into a

[2017-10-25 19:21] glasser commented on #81
Filed apollographql/apollo-link#178 for the underlying issue.

[2017-10-25 21:22] slorber opened #83 "Display apollo tracing data in devtools"
Hi,

Currently, Apollo tracing data can be displayed on Apollo Engine.

It could be useful to allow developers to view tracing informations directly in this devtools as well, as the setup would be more simple and wouldn't need a proxy.

My usecase is that I can't guarantee that my team will adopt Apollo Engine for different reasons (timing, setup, pricing model, performance impact...) but I certai

[2017-10-27 05:54] ieow commented on #58
Any update on this issue?
I am having same messages for every graphql error
`DOMException: Failed to execute 'postMessage' on 'Window': Error: GraphQL error:`

It keep printing every time I try query graphql after the error.

[2017-10-30 12:04] lifeiscontent opened #84 "React Native"
How do I use apollo-client-devtools with react-native?

[2017-11-16 22:53] amackintosh commented on #29
I am seeing this problem now. I just enabled Apollo Dev Tools in this project, and it is showing these exact symptoms.

- I restarted Chrome, nothing
- I reinstalled the browser extension, the icon was darkened
- I pressed F5, and it went gray again
- I did some unknown and random steps and pressed F5 again and the icon was darkened again
- I went into the Apollo tab of dev tools, and it seemed to

[2017-11-17 15:46] vingrad commented on #29
the same problem.

[2017-11-20 13:59] #29 closed

[2017-11-21 21:06] matthewerwin commented on #64
Guys, I found a solution! Disable Apollo-client-devtools and viola, no more junk spewed into the console...haha. But seriously, hugely annoying bug -- I'm disabling it until this is fixed.

[2017-11-22 13:37] oredi opened #87 "Issue with both SSR and Store Tab trigger before executing a GraphQL query on the client"
1. Apollo Queries and state populated using SSR is not read by DevTools on initial load
![screen shot 2017-11-20 at 8 41 47 am](https://user-images.githubusercontent.com/637249/33129853-5fa7987a-cf5f-11e7-82d7-cab602e07006.png)
2. Apollo Devtools show a blank screen and could not be used till Chrome is restart
![screen shot 2017-11-20 at 8 42 01 am](https://user-images.githubusercontent.com/637249

[2017-11-22 14:12] joesankey opened #88 "Store Tab exception"
"apollo-client": "2.0.1"
Apollo Client Developer Tools 2.0.6

The devtools appear to crash when I click on the store tab.

Seeing the following stack trace:

[code]
![screen shot 2017-11-22 at 06 07 56](https://user-images.githubusercontent.com/323735/33131530-ab67e33c-cf4b-11e7-84b0-ee300d12e6a9.png)

[2017-11-24 18:08] tizmagik commented on #73
🤞 https://twitter.com/peggyrayzis/status/933741807942488071 😁

[2017-11-27 11:36] barbalex commented on #64
Something similar happens to me without using an afterware: I get this error:

[code]

...when using apollo-link-state as only addition:

[code]

And it only seems to happen in an (unsolved) case where apollo returns this error:

[code]

Disabling devtools removes the DOMException but not the network error (that probably causes the DOMException ).

[2017-11-27 21:53] glasser commented on #81
@evans Now that the apollo-link issue is fixed, can you check to see if this is fixed?

[2017-11-28 08:35] namxam commented on #84
@lifeiscontent Have a look at the discussion at https://github.com/apollographql/apollo-client-devtools/issues/6

[2017-11-29 23:07] mattfysh commented on #6
I understand react-native-debugger plans to add support for this tool, but the apollo client devtools do not yet work remotely (a la redux, react) so is blocked. Does that sound right @calebmer ? Is there another issue in this repo re: remote debugging

[2017-11-30 11:50] cashtotalszero commented on #78
Are there still any outstanding compatibility issues? I'm hitting the errors when running Apollo 2 with Electron (dev tools installed using: https://github.com/MarshallOfSound/electron-devtools-installer):

[code]
The Apollo tab displays as expected in in inspector but these errors occur when I click on the store. My app however, works as expected....?

[2017-12-04 08:15] #84 closed

[2017-12-05 03:34] mattfysh commented on #6
@peggyrayzis - happy to try and help out here and submit a PR, any points you can give me?

[2017-12-07 00:04] dchambers commented on #88
I definitely didn't use to have this issue, so does anyone know where we can find the older versions (e.g. 2.0.5) as I believe it's possible to install older versions manually?

[2017-12-11 10:28] ynuska commented on #29
still  this problem (Chrome Version 59.0.3071.115 (Official Build) (64-bit))

[2017-12-12 04:00] stubailo commented on #29
@ynuska do you mind opening a new issue about it? I think there are a lot of factors that might make them not show up, so I don't think the mega-issue is helping check all the boxes

[2017-12-20 18:01] KeithGillette commented on #81
This issue still occurs with Apollo Client Developer Tools 2.0.6 and `apollo-link@1.0.7` for responses with an `error` but not a `data` property.

[2017-12-20 20:06] fandy commented on #73
Any update on this @peggyrayzis? I would love to have this moved to FF since with Quantum it is now my browser of choice.

[2017-12-20 21:16] peggyrayzis commented on #73
@fandy I published devtools to the Firefox addons store three weeks ago. Everything was working fine for a week until it recently got taken down. I haven't had the time to look into it and won't be able to get to it until after the holidays, unfortunately.

[2017-12-21 02:41] carlosbaraza opened #90 "Schema must be an instance of GraphQLSchema"
Apollo Client: 2.0.4
Apollo Client Devtools: 2.0.6

Unfortunately, this extension is completely crashing. This is the stack trace. I tried to debug the first error and the `schema` variable is actually a `GraphQLSchema` instance, just not a `_schema.GraphQLSchema` instance.

<img width="1280" alt="screen shot 2017-12-21 at 3 36 53 am" src="https://user-images.githubusercontent.com/1270425/34238195

[2018-01-08 12:10] rohmanhm commented on #58
Weird error, but I got the same issue here.

[2018-01-11 14:33] maticrivo commented on #73
any news on this?

[2018-01-12 00:41] 1attice opened #92 "Devtools coming up strange (Devtools v2.0.6 against Apollo client v2.0.2)"
Everything worked great till I bumped to Apollo Client 2.x and now the devtools don't work (and I'm running v2.0.6)

Symptoms:
- The graphiql component works fine (but so what)
- The mutation and query watchers never see any queries
- The store inspector is a completely blank screen (!)
- _APOLLO_CLIENT_ and _APOLLO_DEVTOOLS_GLOBAL_HOOK_ are both present

Very boring screenshot of 'Store':

![imag

[2018-01-12 00:42] liz-mars commented on #92
And FWIW here's my relatively boring apollo config:

[code]

[2018-01-12 08:53] einarlove commented on #90
Experienced the same error, and other times I get this:
<img width="878" alt="screen shot 2018-01-11 at 10 26 57" src="https://user-images.githubusercontent.com/1495211/34866890-6e9a0678-f77e-11e7-9647-235955a030db.png">

[2018-01-15 03:24] Dermah commented on #66
For me, ctrl+space autocomplete works until i get about three levels deep into my query. So when typing out this query:

[code]

autocomplete worked for `viewer`, `email`, `firstName` and `bananas`, but stopped working for `id`, `name`, `seeds` and `plant`.

macOS 10.13.2, Chrome 63, Apollo Dev Tools 2.0.6

[2018-01-18 14:43] #75 closed

[2018-01-18 23:43] loganpowell commented on #64
Just getting plugged into this thread for updates on this issue, which I'm also experiencing.

[2018-01-18 23:58] barbalex commented on #64
@loganpowell there is a button on top right for that: Notifications: "unsuscribe" (it was named "subscribe" before your comment)

[2018-01-19 00:40] loganpowell commented on #64
@barbalex but then I couldn't get nice messages like yours

[2018-01-19 00:55] liz-mars commented on #92
Any movement on this? :)

[2018-01-22 20:34] loganpowell opened #93 "Devtools frozen in Chrome"
I'm not sure if it's something I'm doing, but Apollo Devtools is not working for me... at all. It's frozen as far as I can tell. I can't click on any of the submenus or query/variable text boxes.

Chrome: Version 63.0.3239.132 (Official Build) (64-bit)

Any pointers?

[2018-01-22 20:48] loganpowell commented on #93
Seems like a larger issue with chrome. Apologies for the false positive

[2018-01-22 20:48] #93 closed

[2018-01-23 15:57] wildpow opened #94 "Apollo shows up in list in Chrome dev tools but doesn't load"
Inspected the inspector like the readme says and this is the error I get.
[code]

[2018-01-24 01:30] liz-mars commented on #92
My workaround has been -- and this is ugly as hell -- to use Wireshark and good filtering IPF ruleset to grab the actual queries and return values. It's a fiddle to set up, but it works reasonably well, if/when you're familiar with Wireshark. Caveats: Wireshark is a spiny fish of a friend, and it's easy to get jabbed; also, this only works if your development environment is not using HTTPS (which

[2018-01-24 01:32] liz-mars commented on #92
Ultimately there's no substitute for good devtools, however, and I'm glad I hadn't gotten around to moving everything over to apollo-state-link. Redux wins this round, hands down and, for my project, permanently.

[2018-01-24 01:34] liz-mars commented on #92
@myovchev  interestingly, we're both on Ubuntu. Could be a clue? I mean, probably not, but...

[2018-01-25 11:22] glauberfc opened #95 "Integration with React Native"
There is any way to integrate Apollo client devtools with React Native?

[2018-01-25 15:47] SeanSilke commented on #88
@ramyanaga  @daniman Can you please give some respond?
This type of critical flaws in software behaviour can give lot of frustration to users.

[2018-01-25 15:47] SeanSilke commented on #87
@ramyanaga  @daniman Can you please give some respond?
This type of critical flaws in software behaviour can give lot of frustration to users.

[2018-01-26 00:26] neurofoo commented on #94
I'm having the same issue. I have one line above what you wrote, which is:

`Uncaught DOMException: Failed to read the 'localStorage' property from 'Window': Access is denied for this document.`

Seems to be an issue with the iframe not being able to access localStorage. I tried allowing third parties to set cookies in the chrome settings, but still no luck.

[2018-01-26 00:33] neurofoo commented on #94
So. Allowing third-parties does work... sometimes. I have to reload the page several times. Once in a while the 'A' icons turns black and I can see the tools. Not optimal.

[2018-01-26 07:05] daniman commented on #88
We've been working on some stability improvements to the devtools recently that I hope will solve this problem! We're planning to release them soon, but I'm not sure of the exact timeline.

[2018-01-26 10:28] SeanSilke commented on #88
@daniman Thank you for clearing situation.

[2018-01-26 11:59] AndyBan commented on #90
The current release of the Chrome extension works fine on https://www.githunt.com/ but not my local project which gives the same errors as the above.  I rebuilt the extension using the latest packages and after a short time getting those inspector messages it has started working.  Not sure why the inspector bits have started working as I didn't do anything, timing issue maybe?  I'd submit a PR but

[2018-01-26 15:17] EthanML commented on #73
This would be awesome to see happen again - though if it's not likely anytime soon perhaps the link to an FF version should be removed from the README for now.

[2018-01-30 07:11] leomeloxp commented on #95
Hi @glauberfc if you haven't yet, have a look at #6 or possibly the related issue for [React Native Debugger](https://github.com/jhen0409/react-native-debugger/issues/177).

Cheers 👍

[2018-01-30 14:16] PtwHub opened #96 "If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled."
I have a working react-graphql application that uses an api server on a separate port. It sets the Access-Control-Allow-Origin header via the pre-flight OPTIONS fine. No problem. I open the apollo-client-devtools in chrome and can see my Introspection results/schema in the "Store". Now I go to the GraphiQL in the same apollo-client-devtools editor and enter a simple (known working) query. What I g

[2018-02-02 06:43] jole78 opened #99 "Content Security Policy issue with version 2.1.0"
Hi,

just wanted to report this error that I'm getting on 2.1.0

My site is using some CSP headers and the console is now filled with these. It still works though so it's not a major thing.

[code]

[2018-02-02 16:11] jbaxleyiii commented on #99
@jole78 interesting! I'll get a fix out ASAP! Thanks!

[2018-02-02 18:58] arahansen opened #100 "Fields Incorrectly Categorized as "Deprecated""
Prior to the latest release of the apollo devtools, I had fields showing up in devtools as expected, undeprecated.

Since the latest release, all properties on what seems to be all types in my schema show up as deprecated. The only change was the apollo devtools version.

Our Person type for example, has about 20 fields all of which show as deprecated, when before none of them did:
![image](https:

[2018-02-03 01:17] arahansen commented on #100
I narrowed down the issue to a problem with how `graphql` is parsing `isDeprecated` fields. This problem can be resolved by upgrading the `graphql` dependency which has better handling for `isDeprecated`

[2018-02-03 21:05] jbaxleyiii commented on #100
Can do! Thanks for debugging this!

[2018-02-04 22:06] lorensr opened #102 "Add buttons for refetching queries and resetting the store"
The refetching buttons could go next to each query name. And a global button that called `window.__APOLLO_CLIENT__.resetStore()` maybe in the sidebar or next to "Cache".

[2018-02-05 05:23] lorensr opened #103 "Add mutation results"
It would be nice to see results in the `Mutation log`, so that you don't have to switch to the network tab, find the corresponding request, and switch to its response tab.

cc @ryannealmes

[2018-02-05 07:40] jole78 commented on #99
@jbaxleyiii can confirm it now works on 2.1.1 ...thx...closing the issue!

[2018-02-05 07:54] jole78 commented on #99
@jbaxleyiii sorry...I spoke too soon...still errors on 2.1.1 (maybe the fix wasn't in that release after all).

[2018-02-09 15:22] hinok opened #104 "Cannot read property 'queryStore' of undefined, cannot convert null or undefined to object, unsafe-eval is not allowed source of script in the following CSP"
[code]

Hey,
In our project apollo-client-devtools stopped working.
In the console inside the app, there is a reported error:

![zrzut ekranu 2018-02-09 o 16 17 08](https://user-images.githubusercontent.com/1313605/36034622-eb17755e-0db4-11e8-9c86-7193765f49fc.png)

which is:

![zrzut ekranu 2018-02-09 o 16 17 32](https://user-images.githubusercontent.com/1313605/36034630-efcab80e-0db4-11e8-838f-8

[2018-02-10 23:09] steve-a-jones commented on #104
Getting this exact same error - happens when I click on the cache tab.

`Chrome: Version 64.0.3282.140`

[2018-02-11 04:28] arjunagl commented on #8
+1

[2018-02-13 00:13] lorensr opened #105 "Crashes when viewing optimisticResponse in cache"
Steps:

- Network tab -> Slow 3G
- Apollo devtools -> Cache panel
- In app, trigger a mutation that has an `optimisticResponse`
- Click on the new cache item that corresponds with the `optimisticResponse`
- After a second when the server response returns, the devtools UI goes white

[2018-02-13 22:07] wildpow opened #106 "Failed to read the 'localStorage' property from 'Window': Access is denied for this document"
Apollo dev tools do not load here is the error when I inspect the Apollo dev tool window

`
devtools.js:1 DOMException: Failed to read the 'localStorage' property from 'Window': Access is denied for this document.
    at new e (chrome-extension://jdkknkkbebbapilgoeccciglkfbmbnfm/dist/devtools.js:1:907084)
    at new n (chrome-extension://jdkknkkbebbapilgoeccciglkfbmbnfm/dist/devtools.js:1:678128)

[2018-02-16 18:07] frankdugan3 commented on #73
I haven't had any luck installing from the latest release files either. Firefox simply throws an error saying that the add-on appears to be corrupt. Are there any special steps to installing it from the release files?

[2018-02-18 18:22] BorisTB opened #107 "Crashes every time I click on Cache"
Everytime I click on cache it just crashes. But only if there's anything stored in cache. I can open Cache tab when cache is empty, but it crashes as soon as something is added to it.

**useragent**
rawUa: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3350.0 Safari/537.36
string:
family: Chrome
major: 66
minor: 0
patch: 3350
device: Other 0.0.0

[2018-02-20 15:20] haikyuu commented on #73
maybe https://github.com/mozilla/addons/issues/450 is related

[2018-02-21 00:23] tnrich commented on #107
I can second that this is happening for me as well:
![image](https://user-images.githubusercontent.com/2730609/36456564-5dbfc3c4-165a-11e8-896a-018a31d3138d.png)

Also, does anyone know what that

[code]

error message is about?

[2018-02-21 00:40] tnrich opened #108 "Queries get stuck after page refresh"
Hey there,

I'm finding that once a refresh occurs in my app all of the previously made queries get "stuck" in the apollo devtools queries tab. When they get stuck there no other queries get added and nothing changes as I navigate around.

Here is a gif of this occurring from scratch. I'm on the latest version of apollo 2.

![untitled](https://user-images.githubusercontent.com/2730609/36456957-7d5

[2018-02-21 02:37] wildpow commented on #106
[code]

[2018-02-21 23:02] ostrebler commented on #104
Same here.

[2018-02-22 09:41] BrianSandholdt commented on #104
I experience the same thing. Could this be an issue with latest update of Chrome?

[2018-02-22 17:55] mmiller-callibrity commented on #96
500 is not a valid response status from an OPTIONS request. What does your network tab in your browser devtools look like?

[2018-02-22 22:51] datanotion commented on #94
Same issue here.  Haven't been able to use the panel in a while now.  Even with multiple refreshes it won't enable for me.

[2018-02-23 08:05] PtwHub commented on #96
Thanks. Indeed, the server's 500 should have been something else, but it wasn't in this case. The problem was still the CORS. The difficulty I had was that the graphql-dotnet server is using a middleware approach without the standard CORS hooks. Here is the code that I had to add in the GraphQLMiddleware.cs class, which may not be perfect, but does the job. Thanks again.

`        private async Ta

[2018-02-23 08:05] #96 closed

[2018-02-25 05:25] AkivaLandsberg commented on #66
Still not working for me on Apollo Dev Tools 2.1.2 , Chrome 64,  macOS 10.13.2

[2018-02-26 15:53] caedmon commented on #90
I ran into this as well.  Was working and then for no apparent reason this problem appears.  What cured it for me (at least for now) was going into chrome extensions and clicking Reload on the Apollo devtools extension.

[2018-02-26 17:47] ramsaylanier commented on #108
👍 happens to me too

[2018-02-27 05:31] ashutoshrishi commented on #106
This was happening to me too until I **unchecked** `block third-party cookies` in my Chrome settings. Must be something to do with the iframe and third-party cookie interaction.

[2018-02-27 13:13] jimmybrawn commented on #8
+100^100

[2018-02-27 16:03] mfeeney commented on #104
Same here.

`Version 64.0.3282.167 (Official Build) (64-bit)`

[2018-02-27 18:26] jbaxleyiii commented on #81
This is fixed in the newest build!

[2018-02-27 18:26] #81 closed

[2018-02-27 22:09] ar-sp commented on #104
I had the same error (Cannot read property 'queryStore' of undefined), but it was on an new project which I hadn't set up properly. My `InMemoryCache.fragmentMatcher` wasn't set up right, and when I fixed it the devtools problem was resolved.

Not sure if it will help anyone else here or not, but might be useful for future google hits :)

[2018-03-01 17:52] matthew-gordon commented on #94
I was having the same problem. Apollo dev tools had previously worked seamlessly, until I blocked third party cookies. Couldn't figure out the issue either until undocking the dev tools, inspecting the devtools, and finding the

```Uncaught DOMException: Failed to read the 'localStorage' property from 'Window': Access is denied for this document.```

I allowed third party cookies, then cleared my

[2018-03-04 10:19] nikitamarcius opened #110 "ERROR: n(...).map is not a function"
Full websocket transport. Client and server side works well, with the exception of Apollo Client Developer

Chrom:  64.0.3282.186
Apollo Client Developer Tools 2.1.2

[code]

[2018-03-06 06:23] alex88 commented on #104
Same here with regular default installation that uses `InMemoryCache` with default settings

[2018-03-13 03:40] deltaskelta opened #111 "spinning wheel after page refresh"
The dev tools only seems to work on the first page load. If there is a refresh either by my react dev server or myself, I get a perpetual spinning wheel

first query: (success)

![screen shot 2018-03-13 at 11 26 33 am](https://user-images.githubusercontent.com/9424192/37321396-9dc15782-26bb-11e8-9395-8b2ce85ca7b4.png)

after a refresh: :(

![screen shot 2018-03-13 at 11 26 46 am](https://user-imag

[2018-03-14 15:40] kimobrian commented on #8
I had an issue where it kept telling me enable dev tools by setting `connectToDevTools` to true when I had already done it. I simply disabled the extension, hard-reloaded my app and enabled the extension then reloaded the app again and it showed up.

[2018-03-14 23:38] Herlevsen commented on #107
Same thing happens for me

Mac OS 10.13.3
Chrome 65.0.3325.162

[2018-03-15 12:12] sundeer commented on #104
Same here.
Chrome: Version 65.0.3325.162 (Official Build) (64-bit)
DevTools:
    Version: 2.1.2
    Updated: February 5, 2018
    Size: 334KiB

Why v2.1.2 when the latest release here is v2.1.0?

[2018-03-16 00:53] meyer commented on #99
@jbaxleyiii why would the Apollo Dev Tools extension need to talk to apollodata.com? Analytics?

[2018-03-16 01:46] meyer commented on #72
I’d like to opt out of analytics as well, please.

[2018-03-18 05:34] acoll commented on #83
I can put together a pull request for this. I did something similar with just the graphiql package. I put together a rough gist (the styles are bad).
https://gist.github.com/acoll/a83494430fc3a394504b646622fab422

My thoughts here were to show bars representing the duration and offsets for each resolver as well as showing the actual metric values for duration in milliseconds and the duration perce

[2018-03-18 11:16] slorber commented on #83
Hi,

I think it would be better to have the same UI on Apollo Engine and on devtools. Maybe Apollo team could publish their UI lib for that?

If that's complicated or not possible, any good enough UI would still be helpful

[2018-03-19 11:36] sheerun commented on #99
Same question, is it really necessary? Can I opt-out?

[2018-03-19 20:30] meyer commented on #99
turns out it sends usage info to Google Analytics too :/

i can't use a browser extension that phones home on my work computer. until this issue is fixed i'm using [a fork that doesn't include analytics](https://github.com/meyer/apollo-client-devtools-minus-tracking/commit/20857ef27ad9d397218e0678a4bddb4120ca6310).

[2018-03-19 20:50] meyer opened #113 "Analytics integration leaks PII and cannot be disabled"
This is a dupe of #72, sorry. It's a legitimate issue and I can't reopen an old issue on my end.

Apollo Dev Tools pings your server as well as Google Analytics, and I can't use a browser extension that phones home on my work computer. Until this issue is fixed i'm using [a fork that doesn't include analytics](https://github.com/meyer/apollo-client-devtools-minus-tracking/commit/20857ef27ad9d39721

[2018-03-21 15:23] seangransee commented on #108
Happens to me when refreshing the page, and when manually modifying the URL. After I manually change the URL, I have to close the Apollo dev tools and open it back up again.

[2018-03-21 15:26] seangransee commented on #73
Agreed that the link should be removed from the README until this is fixed.

[2018-03-21 15:43] Pajn opened #114 "Firefox link is broken"
The firefox addon link gives me a 404 and I can not find the extension on the Firefox add on site manually.

[2018-03-22 18:32] mekhami commented on #104
Same here, where's the update on this?

[2018-03-22 18:56] mekhami commented on #104
Ah, this problem fixed itself when I went back and double-checked my apollo client configuration.

I use vue-apollo, but my apolloProvider was not included by calling `apolloProvider.provide()` as per the documentation here: https://github.com/Akryum/vue-apollo#create-a-provider

I don't know about the other apollo client implementations, but this worked on my vue app and something similar will li

[2018-03-26 06:13] xialvjun commented on #66
Still not working for me on Apollo Dev Tools 2.1.2 , Chrome 65, macOS 10.13.3

[2018-03-26 07:15] joshuataylor commented on #113
It has gotten worse since the last time I raised this issue as well.

[2018-03-28 16:59] JonathonJulian commented on #95
Was really hoping to ditch redux for apollo-link-state for a new greenfield RN project, unfortunately no debugger support could be a show stopper seeing as I do get a pretty decent experience with Redux and React Native Debugger  :(

[2018-03-31 19:15] sflahave commented on #104
Just a few clues... indeed it seems that ApolloClient.queryManager is not getting set. You can verify this by typing `window.__APOLLO_DEVTOOLS_GLOBAL_HOOK__` in your console prompt.

I stepped through some Apollo source code a bit. If you look at the source for ApolloClient (https://github.com/apollographql/apollo-client/blob/master/packages/apollo-client/src/ApolloClient.ts ) , you can see that t

[2018-04-03 08:56] vaneek commented on #114
@jbaxleyiii is Firefox addon supported or is development and testing occurring on the master branch?

[2018-04-04 09:45] karsens commented on #95
Hey guys. I've been building an app with React Native + Expo + Redux + Apollo 1.X since past november and it's getting buggy on the connection part sometimes. I really wanna move to Apollo 2, but no apollo debugger shows up. Is there  someone that got this to work? That would be of great help!

[2018-04-04 14:55] will-stone commented on #31
I'm finding this issue with a simple Create-React-App. Page refreshes on code change, Apollo dev tools remain on last state. To fix I have to close and reopen Chrome's dev tools.

[2018-04-06 20:07] wesbos commented on #108
I find my whole cache says with a page reload - I need to close dev tools and re-open it to see the correct data

[2018-04-06 20:08] wesbos commented on #108
A stop-gap solution right now is to just reload the entire frame:

![](http://wes.io/qihc/content)

[2018-04-07 01:44] lorensr opened #115 "Load from cache loads from server"
In GraphiQL, when I select "Load from cache", change a field on the server, and execute the query, the updated field appears in the results. (And I don't have an active polling query for this field.) Additionally, a request to the server with the query shows up in the Network tap.

devtools v2.1.2
react-apollo v2.1.1

[2018-04-08 23:37] MichelDiz commented on #8
I have this issue, but when I use in "incognito window" (anonymous window of the chrome) works fine. What it would be?

[2018-04-23 02:12] romucci commented on #66
Not working :D

[2018-04-23 10:53] Extarys commented on #73
I want it :( RIP

[2018-04-23 17:17] japrogramer commented on #73
+1

[2018-04-24 15:53] ibigpapa opened #116 "Operation failed: : has no execution context"
I'm not seeing Apollo Dev tools show up periodically.

- Browser: Chromium: Version 65.0.3325.181 (Official Build) Built on Ubuntu , running on Ubuntu 16.04 (64-bit)
- Devtools Version: 2.1.2

It appears to only happen if i launch the devtools before i load the application.  If i let the application fully load.  Then the apollo Dev tool will show up.

Upon inspecting the Extension link provided by

[2018-04-26 04:56] deltaskelta commented on #111
I now see #108 covers this. Closing

[2018-04-26 04:56] #111 closed

[2018-04-26 04:56] deltaskelta commented on #108
using the "reload" frame option made my life a whole lot easier for now

[2018-04-26 12:32] przemkow commented on #107
Same problem,

Mac OS 10.13.4
Chrome 65.0.3325.181

I wanted to check if firefox plugin crash as well but I couldn't find apollo client devtools on addons.mozilla.org anymore.

[2018-04-26 17:06] MichelDiz opened #117 "IDEA: Standalone version for React-Native. (like react-devtools) for Integration with React Native."
reference https://github.com/facebook/react-devtools

It would be nice to have a version similar to react-devtools. That you install globally and parses the application code. In that case would be queries end mutations.

With React-devtools I can analyze every "react" structure as if it were an injection from RN. It would be an interesting feature because apollo-client-devtools is more geared towa

[2018-05-02 01:49] iamtchelo commented on #114
Still broken! :/

[2018-05-04 09:06] zry656565 commented on #20
`react-apollo` needs this feature too. Please! :joy:

[2018-05-04 12:12] nslocum opened #118 "Don't require 3rd-party cookies"
Great work on the extension!

The extension currently requires allowing sites to set 3rd-party cookies. This setting is applied globally and is BIG deal. For me it's a deal breaker.

It looks like the Redux extension solved this issue by mocking localStorage when it's not available for whatever reason.
Here's their simple solution:
https://github.com/zalmoxisus/redux-devtools-extension/commit/493a

[2018-05-09 18:03] vizo commented on #66
Still not working after one year

[2018-05-09 19:16] rnenjoy commented on #110
Same here!

[2018-05-10 12:59] #11 closed

[2018-05-12 01:17] MariuszHenn commented on #118
this is my solution proposal https://github.com/MariuszHenn/apollo-client-devtools/commit/9c13564c55315845e6b6ceb9835d677c4804e4b6

[2018-05-14 12:51] eschaefer commented on #114
Until this is resolved, you can of course build the extension locally from this repo and install it on Firefox

[code]
Open "about:debugging" in Firefox, click "Load Temporary Add-on" and select the `manifest.json` in `shells/webextension`.

Refresh the page you need to debug, and voila:
<img width="1367" alt="screen shot 2018-05-14 at 14 44 41" src="https://user-images.githubusercontent.com/54714

[2018-05-15 22:57] nchouard opened #119 "Crashes on clicking Queries"
[Dev](url) tools is crashing whenever I click on Queries. Similar to what is happening in #107

Mac OS 10.13.3
Chrome 66.0.3359.139
![screen shot 2018-05-15 at 5 56 22 pm](https://user-images.githubusercontent.com/31971995/40087729-8b7171c2-5869-11e8-8991-8fedec99c057.png)

[2018-05-16 02:35] Negan1911 commented on #119
Same here, i inspected the frame and was able to get this:
![image](https://user-images.githubusercontent.com/3399236/40093433-98ad0340-5898-11e8-8fa6-99794e7c147c.png)

[2018-05-16 07:36] deftomat commented on #66
Well, it's not working 😟

[2018-05-16 14:35] evans opened #120 "Feature Request: Enable the devtools per iframe"
With pages that contain iframes, such as codesandbox, we should be able to access the Apollo Client instance for an embedded iframe.

[2018-05-17 00:12] zebulonj commented on #119
Same here. My suspicion is that this is because my queries are anonymous (example below), but I haven't had a chance to verify yet.

[code]
vs.
[code]

[2018-05-17 00:32] zebulonj opened #121 "Cache Doesn't Update on Page Reload"
**Expected**: When the page is refreshed or reloaded, the Cache displayed in the developer tools should be refreshed to reflect the changed application state.

**Actual**: The Apollo developer continue to show the cache state when the Chrome developer tools were initially loaded, even when the page is refreshed and the cache-state (presumably) returns to the initial application state. The only way

[2018-05-17 02:40] zebulonj commented on #119
Nope. Named all my queries and mutations, and it still crashes anytime I attempt to open the Queries tab.

[2018-05-17 21:04] andrewtpoe commented on #119
Same here.

macOS 10.13.4

Chrome 66.0.3359.181

[2018-05-18 20:36] levindixon commented on #119
Same for me, started to debug the issue and it looks like `query.queryString` is always undefined here:
https://github.com/apollographql/apollo-client-devtools/blob/master/src/devtools/components/WatchedQueries/WatchedQueries.js#L15 hope that helps!

macOS: 10.13.4
Chrome:  66.0.3359.181
react-apollo: 2.1.4,
apollo-client: 2.3.1
apollo-link-state: 0.4.1

[2018-05-18 22:51] tonyxiao opened #122 "Integration as reactotron plugin?"
- [x] feature

Given that apollo client devtools does not currently work for react native via either chrome or react-native-debugger, how about integrating with say Reactotron? It seems to have a nice plugin API that's more amenable to extensions.

[2018-05-19 05:17] mmun commented on #66
This was bothering me so I looked into it. It turns out that it's just a CSS issue. I've made a PR: https://github.com/apollographql/apollo-client-devtools/pull/123.

[2018-05-19 05:33] deftomat commented on #66
@mmun AWESOME

[2018-05-19 17:53] loxy commented on #26
Any progress on this?

[2018-05-20 12:38] pyromaniac commented on #119
Same here.

[2018-05-20 15:54] RobertB4 commented on #114
Still no update? May as well switch to chrome until the firefox dev tools are working again.

[2018-05-21 08:28] leebenson opened #124 "automatic UI updates via apollo-link-state? (a la Redux Dev Tools)"
I have an app that uses [apollo-link-state](https://github.com/apollographql/apollo-link-state) to manage local app state, and I'm hoping to use Dev Tools to invoke UI changes when submitting mutations, just as if I'd have used a `<Mutation>` component in code.

Submitting the mutation works fine (and returns the correct data, albeit with the server request mentioned in #115), but it doesn't appea

[2018-05-22 12:51] umlx5h commented on #119
Same here.
Since query object of argument has no queryString property.
https://github.com/apollographql/apollo-client-devtools/blob/master/src/devtools/components/WatchedQueries/WatchedQueries.js#L15

This is properly working (react-apollo: 0.9.0)
![screen shot 2018-05-22 at 21 33 50](https://user-images.githubusercontent.com/20206121/40362866-c1e273a6-5e08-11e8-964d-c967e0b4fdb3.png)

This is not

[2018-05-24 14:35] #66 closed

[2018-05-24 15:57] #119 closed

[2018-05-25 13:20] liywjl commented on #104
Still seems to be an issue with Chrome 66.0.3359.181 on OSX High Sierra 10.13.4

[2018-05-29 11:27] loxy commented on #104
Same here...

[2018-05-29 15:40] mathroc commented on #110
Same here (full websocket transport), it used to work but it stopped working a few weeks / months ago

[2018-05-30 10:20] rkstar commented on #114
i've just gone back to firefox and i'm enjoying the experience.... really need this extension tho.

[2018-05-30 22:36] AlexLi88 commented on #107
same here
Chrome Version 66.0.3359.181 (Official Build) (64-bit)
Max OS 10.13.4 (17E202)

[2018-05-31 08:03] BorisTB commented on #107
Does anyone from the apollo-client-devtools team noticed this issue? Can you please give some statement? If MacOS is not (and will not be) supported, please let us know.

[2018-06-06 00:29] dan003400 opened #128 "Broken Firefox Addon Link"
The link to the Firefox DevTools addon is broken:

https://addons.mozilla.org/en-US/firefox/addon/apollo-developer-tools/

[2018-06-08 16:28] stellarhoof commented on #121
@zebulonj For a faster workflow, right click on the apollo section in the devtools and reload the frame. Still this should be correctly handled by the apollo devtools.

[2018-06-09 08:29] nilshartmann commented on #108
As mentioned in #111 the problem also occures if you execute a query in the GraphiQL tab after a page reload.

The workaround from @wesbos works in that case by choosing "Reload Frame" in the `Documentation Explorer` column from GraphiQL or in the navigation tab at the left:

![image](https://user-images.githubusercontent.com/435073/41189546-dc3db722-6bcf-11e8-9e95-e5939ce6a931.png)

[2018-06-09 11:40] rnenjoy commented on #110
Works now automagically!!!

[2018-06-09 13:08] bryankennedy commented on #124
I think this may be related to this issue about the [dev tools requiring a reload to view the current cache state](https://github.com/apollographql/apollo-client-devtools/issues/121).

[2018-06-12 14:44] jvbianchi commented on #92
I had the same problem and this https://github.com/apollographql/apollo-client-devtools/issues/106#issuecomment-368752638 solved for me

[2018-06-13 17:49] dan003400 commented on #128
Me either so I was assuming it was taken down?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-15 03:45] kurax commented on #104
This problem exists because you've created multiple ApolloClient in your bundle, and the plugin can only handle one.
Try use `<ApolloProvider/>` with `<ApolloConsumer/>` to keep a single client instance may solve the problem.

[2018-06-18 09:05] lukejagodzinski commented on #120
Please add this feature. Now it's not possible to access Apollo Client instance when you test your application which is loaded into iframe widget.

[2018-06-19 16:28] dylanscott opened #129 "Cannot run GraphiQL query from document with multiple operations"
It seems like GraphiQL is supposed to support running a single query from a document with multiple operations, based on the fact that it exposes this dropdown on the "run" button:

![screen shot 2018-06-19 at 9 26 48 am](https://user-images.githubusercontent.com/491393/41610819-112b1972-73a3-11e8-8b1a-653b27527807.png)

But when I click one of the queries in the dropdown, I get this error:

![scre

[2018-06-24 17:13] TrebuhD opened #130 "Dark theme: caret is hardly visible"
### Description
When using the dark theme, I often lose the position of the caret (the text cursor) because its color blends in with the background color too much. This happens on all of my monitors.

### Example:
![screenshot from 2018-06-24 19-00-22](https://user-images.githubusercontent.com/7022085/41821523-4619e0bc-77e2-11e8-9afe-3c60015a0240.png)

### Expected behavior:
The caret color should

[2018-07-10 05:48] yordis commented on #106
Does anyone knows how to whitelist the devtool on Chrome?

The URL of this is encoded on base64 as a JSON format so I am really lost on how I could do that.

[2018-07-10 07:09] peggyrayzis opened #132 "GraphiQL introspection of client-side schema breaks with extend keyword"
Steps to reproduce:

1. Open Pupstagram: https://codesandbox.io/s/r5qp83z0yq
2. Change line 2 of `schema.js` to `extend type Image`
3. Open devtools and click on GraphiQL docs explorer

[code]

[2018-07-11 13:01] Mati365 commented on #104
Any updates?

[2018-07-11 13:07] richtera commented on #121
I can't figure out how to clear cache at all sometimes. Even closing and restarting the dev tools sometimes caches content which I know I don't have in my local cache. Is someone working on this? Somehow not useful if it shows old data.

[2018-07-12 18:05] tushar-singh commented on #115
I can reproduce this. Additionally, I cannot see anything in queries and cache tabs (they're blank even though data does get loaded from cache in the actual app)

[2018-07-13 09:12] CarloPalinckx commented on #128
Is there any news on this? :)

[2018-07-13 20:18] DSM3DIA commented on #128
Would be nice to have this. Trying to switch over completely from chrome...chrome is sucking up 17gigs of ram on my 32gig workstation

[2018-07-17 18:54] wawhal commented on #81
This still happens with `apollo-link-ws`.

[2018-07-18 03:16] ananth99 commented on #104
Facing the same issue. Any updates on this one?

[2018-07-20 12:07] dandv opened #134 "Minor fix in the extension features"
"A cache inspector that displays..." should be #4 instead of #3

![image](https://user-images.githubusercontent.com/33569/43001604-a88d2d92-8bda-11e8-8dd0-33209cf6ced1.png)

[2018-07-23 09:31] caugner commented on #104
Same error when running the extension (2.1.3-1-g657a491) in Firefox Nightly (63.0a1 2018-07-22):

[code]

Steps to reproduce:
1. `yarn install`
2. `yarn build`
3. Open `about:debugging` in Firefox and load directory `shells/webextension` as temporary extension.
4. Open website with Apollo (in my case a Vue.js SPA with vue-apollo).

Actually, I get the following warning on the `about:debugging` pag

[2018-07-23 20:50] lifeiscontent commented on #104
@peggyrayzis any updates here? Seems this issue has been here since Feb and no devs from the Apollo team have commented on the thread.

[2018-07-26 18:03] lucianD commented on #107
I have the same issue using Mac OS

[2018-07-27 20:18] lklepner commented on #6
It sounds like the Apollo Dev Tools team has been unblocked - https://github.com/jhen0409/react-native-debugger/issues/177#issuecomment-408453332

[2018-07-30 06:10] rijulg commented on #107
I found a similar, but not the same problem.
While using Vue.js with Apollo the Cache tab crashed without any errors with basic configuration.

However adding
`tokenName: 'apollo-token',`
in the apollo client solved the issue for me

[code]

[2018-07-30 10:05] ngmichael commented on #128
I would appreciate having the devtools for Firefox as well.

[2018-08-03 15:53] saostad commented on #121
same problem here.
cache not update even after refresh the page

[2018-08-03 16:03] saostad commented on #128
+1

[2018-08-03 23:41] evans opened #135 "Modify Cache in Cache Viewer"
We should be able to modify the cache directly from the cache view! 🙏

[2018-08-04 02:34] jhurwitz commented on #120
For reference, this was the approach the React devtools took: https://github.com/facebook/react-devtools/pull/440

[2018-08-08 22:55] nathanrodman commented on #128
+1 for firefox devtools

[2018-08-13 17:48] #130 closed

[2018-08-16 18:40] SeanRoberts commented on #108
Is this going to be fixed at some point?  The workaround works but it adds a lot of extra clicks/overhead when debugging

[2018-08-18 05:07] gihrig commented on #121
@stellarhoof's method works intermittently for me. When it fails I get a connection timeout with the message "We couldn't detect Apollo Client in your app!"

OS X 10.11.6
Chrome:  68.0.3440.106 (Official Build) (64-bit)

[2018-08-18 14:03] WizardOfOgz commented on #94
I did not want to grant all sites third party sites access to cookies by default, so I allowed an exception for just the Apollo Devtools extension `chrome-extension://jdkknkkbebbapilgoeccciglkfbmbnfm/`.

[2018-08-18 14:06] WizardOfOgz commented on #106
@yordis Allowed an exception `chrome-extension://jdkknkkbebbapilgoeccciglkfbmbnfm/`.

[2018-08-18 14:51] jsiebern commented on #104
An update to this would be great, it worked once after installing the extension, but I'm getting this error ever since that.

[2018-08-19 05:33] cyberbizness commented on #128
Toc Toc... Quelqu'un s'en occupe?

[2018-08-21 06:56] deftomat commented on #31
@will-stone Did you solve your issue? I'm experiencing exactly the same problem.

[2018-08-21 08:05] will-stone commented on #31
@deftomat Sorry, I haven't done any Apollo since April, and don't have any personal projects on the go that uses it. I'll let you know if I ever come back to it.

[2018-08-21 20:25] raymondsze opened #136 "getCacheKey is missing in operation context"
As title, the getCacheKey is missing in the context of resolvers. Probably due to version of apollo-client?
I can obtain the getCacheKey if I perform query or mutation by apollo-client instead of dev-tools.

[2018-08-22 15:04] therealparmesh commented on #128
+1

[2018-08-23 07:15] ananth99 commented on #104
@jsiebern So the dev tools don't work with Apollo 2?

[2018-08-23 09:12] tomasvarg commented on #132
This happens also when using [descriptions](https://www.apollographql.com/docs/graphql-tools/generate-schema.html#descriptions) in a client-side schema or when there are errors in the schema definition (like forgetting to add a field type). (Line numbers at the stack trace are the same.)

[2018-08-23 16:08] jsiebern commented on #104
@ananth99 No, I literally meant 2 instances not the version 2! I believe the dev tools got confused having 2 clients on the same website, it worked for me when I didn't load the script tag of one of them

[2018-08-24 07:11] deftomat commented on #31
We found a rookie mistake in our codebase. Not sure how your codebases are looking but I want to share our solution.

We are using `react-hot-loader` in a project created by `create-react-app` (TypeScript version).

Our entry point looked like
[code]

Component `App` is exported as *hot* from `App.tsx`
[code]

We constructed an Apollo Client in this component. This leads to re-creating the apollo

[2018-08-27 22:04] MattReimer commented on #107
I'm seeing the same thing. I tried @rijulg 's and the error went away but Queries, Mutations and Cache are empty windows.

One interesting thing is that the GraphiQL window works perfectly and I'm able to run queries and auto-complete just fine.

[2018-09-02 02:52] Extarys commented on #128
We do need a Chrome alternative.

[2018-09-04 04:03] Extarys commented on #128
@dvdbot it is concerning Firefox, as I said, we need something else than just Chrome. :smile:

[2018-09-05 15:56] brunoreis commented on #120
These hooks works sometimes for me, but I'm researching a way to make them more stable:

[code]

[2018-09-05 19:02] lukejagodzinski commented on #120
@brunoreis yep we're using this kind of hack in our project and it works pretty well, but it would be good to have something working out of the box

[2018-09-05 19:53] konsumer opened #137 "Query tab goes blank"
There is no error, but when I click on the `Query` tab, it goes blank. The other tabs work fine. I'm not sure how to reproduce without an error message. If I refresh, I can click on the other tabs again, but then if I click on the Query tab, it goes blank again.

[2018-09-05 20:15] brunoreis commented on #120
I agree. It works for me, but I have to restart chrome once in a while. Don't ask me why.

[2018-09-10 22:09] btorresgil commented on #108
Agree with other commenters, this doesn't seem to be getting enough attention given how fundamental this functionality is.  The devtools are unusable unless you reload the frame every time.  During development where refreshing the page happens every few seconds, this is extremely painful.

[2018-09-14 12:08] Arseniy-II commented on #132
I believe [descriptions](https://www.apollographql.com/docs/graphql-tools/generate-schema.html#descriptions) shouldn't cause that error

[2018-09-17 15:53] darylf commented on #128
This is a duplicate of #114. Note, there is an open request which is over a year old requesting Firefox support (see #73)

Although I haven't tried it, @eschaefer has a temporary workaround that seems interesting: https://github.com/apollographql/apollo-client-devtools/issues/114#issuecomment-388805335

[2018-09-17 18:50] knappsacks commented on #121
There are a couple ways you can clear the cache more quickly:

(1) Chrome DevTools: on the application, select 'Local Storage' and the localhost env you're developing in. Then above the 'Key' column, you can 'clear' the cache.

(2) You can use client.resetStore() to refresh the cache or client.clearStore() to clear the cache within the componentWillMount Lifecycle Hook on your main app.

`async co

[2018-09-22 09:02] beeman commented on #110
I got the same issue:

This works:

[code]

whereas this does not:

[code]
Versions:

Apollo Client Developer Tools v2.1.3

[code]

[2018-09-25 16:52] ghirlekar commented on #128
With all the privacy issues surrounding Chrome the last few days, a lot of us would love to switch over to Firefox. Apollo dev tools is the last extension I need in order to do that.

Anyone knows why the plugin was pulled from the Firefox extension store?

[2018-10-02 13:05] almostprogrammer commented on #81
I've also observed this behaviour in `apollo-link-http` when used in `graphql-bindings`

[2018-10-04 20:42] Dieff commented on #128
For anyone seeing this now, you can manually build the this addon and use it in Firefox.

1. Clone the repo
2. Run `npm install && npm run build`
3. Navigate to `about:debugging` in Firefox
4. Click "Load Temporary Add-on"
5. Navigate to /repo_root/sheels/webextension and load that folder as an addon

I received a warning during the above steps, but the addon itself appears to be working fine.
May

[2018-10-10 00:04] sarink opened #141 "client.writeQuery not logged"
When calling `client.writeQuery`, it doesn't appear that any log or history of these writes is captured by apollo-client-devtools.

Because this is such a handy way to perform optimistic updates without submitting a mutation (for example, updating a complex model from user input, but not being ready to click the submit button yet), I think devs need this.

Thanks! Apollo's been great to me so far

[2018-10-10 12:52] voordev opened #142 "Client does not appear in Chrome?"
After installing the client true Chrome extension store it does not appear as expected according to the documentation in developer tools next to console ( in that line of tabs )
Using latest versions as of today of all tools.

Did I overlook something?

[2018-10-11 18:38] joeyparis commented on #142
I am experiencing the same problem. It previously worked but has since stopped and I have made no configuration changes.

Chrome: Version 69.0.3497.100 (Official Build) (64-bit)
Apollo Client DevTools: 2.1.3

[2018-10-11 18:55] hethcox commented on #142
Me too.  Chrome version 69.0.3497.100 (Official Build) (64-bit) for Mac/High Sierra.

[2018-10-12 02:54] basicdays commented on #94
@WizardOfOgz is the true wizard on this one. I knew there should have been a way to whitelist the extension, I just had no idea what incantation was needed to allow it through. I can now keep 3rd party cookies blocked, *and* still use this extension. This really should be added to the documentation somewhere.

To detail the fix on Chrome, go to the following URL to fix the error:
chrome://settings

[2018-10-12 09:01] serranoarevalo commented on #136
@raymondsze  How did you fix this?

[2018-10-15 06:43] kogai commented on #142
Same occurred for `Version 69.0.3497.100 (Official Build) (64-bit)`.

And if I have removed and installed the extension again, it works properly again, too.

[2018-10-15 15:29] hwillson commented on #113
Just an FYI - we're removing all Google Analytics functionality, and will be publishing a new version hopefully today.

[2018-10-16 04:53] raymondsze commented on #136
I didn't fix it. I am currently using it like this way.
[code]

[2018-10-16 04:56] serranoarevalo commented on #136
@raymondsze Cheers! Thanks

[2018-10-16 23:28] indigoviolet opened #144 "Is it possible to use devtools for a Chrome extension?"
I can't get the Apollo pane to show up in the popup.html devtools or background page devtools. For react devtools, they provide a standalone Electron app (https://github.com/facebook/react-devtools/tree/master/packages/react-devtools) that lets you inspect the Chrome extension's React tree.

[2018-10-17 18:02] cs-miller commented on #107
Still an issue for me, all my queries include ids.

[2018-10-18 09:22] pavanmehta91 opened #145 "[Issue] [Firefox] Scroll Issue in Apollo Client Devtools tabs"
- [x] has-reproduction
- [ ] feature
- [ ] docs
- [ ] blocking
- [x] good first issue

Browser: Firefox 62
Apollo Client Dev Tools: 2.1.4
OS: MacOS Sierra: 10.12.6
Issue: Scroll inside the tabs(Queries, Mutation,Cache) does not work. It only shows objects which are in the view of the devtools

http://prntscr.com/l7g9c3
http://prntscr.com/l7g9ir
TODO: Test it in other OS

[2018-10-18 10:04] hwillson commented on #142
@voordev @joeyparis @hethcox Does removing it / re-installing it help?

[2018-10-18 19:37] raysuelzer commented on #145
Can confirm in firefox that the scroll bar does not work in the Cache tab.  The right scroll bar for me does work in the Queries Tab.

Browser: 64.0b1 (64-bit)
Apollo Client Dev Tools: 2.1.4
OS:  Windows 10

[2018-10-18 19:46] silentlight commented on #121
No updates on this one?

I am using Apollo with Nextjs and I always see old data. I think I might go back to Redux if I cannot easily see what's in cache :/

[2018-10-19 15:43] maimike commented on #142
no, it does not

[2018-10-22 18:56] tsaiDavid commented on #132
Any updates on this?

[2018-10-22 21:44] kaitlynbrown opened #146 "Chrome extension doesn't work"
I've never been able to get the Apollo Client Devtools chrome extension to work. The extension shows up next to my other ones, but forever remains greyed out. I never see a tab for it in chrome devtools (I do have working tabs for React and Redux devtools though). I've tried passing the `connectToDevTools: true` as an option when constructing `ApolloClient`, but this seems to have no effect.

vers

[2018-10-23 03:04] nanandn opened #147 "Uncaught TypeError: Cannot read property 'queryStore' of undefined"
When I open the "Apollo" chrome extension, I get an error - Uncaught TypeError: Cannot read property 'queryStore' of undefined.

[code]

Anand

[2018-10-23 23:30] jetzhou commented on #137
This is the console error from extension:

[code]

[2018-10-23 23:42] nanandn commented on #147
Looks like the QueryManager is getting initialized lazily when the first query or mutation performed. Calling initQuerymanager() after creating the client seems to have solved the problem.

Is this is known issue?

[2018-10-26 11:18] alessandrodeste commented on #121
It's not the best solution, but waiting for the fix I'm just checking the state from the chrome console:

[2018-10-26 12:13] Jayphen commented on #137
I have this same issue. apollo-client 2.4.3.

[2018-10-28 22:33] relhtml commented on #73
What's the latest on Apollo Developer Tools support on the latest Firefox?

[2018-10-29 15:56] chrisbutler commented on #137
Seeing this with Apollo Client `2.4.4` also

[2018-10-29 19:15] ecbrodie commented on #146
I am also running the latest version of both React-Apollo and the Apollo DevTools, getting a blank page in the Apollo tab. I have set `connectToDevTools: true`, still nothing. I even following the [Debugging Steps](https://github.com/apollographql/apollo-client-devtools#debugging), but to no avail; my Chrome settings already allowed third-party cookies.

[2018-10-30 11:35] lc3t35 commented on #147
Same for me, as suggested by @nanandn solved by adding client.initQueryManager() after client creation. (with M uppercase ;).

[2018-10-30 16:49] hwillson commented on #137
We have a fix ready for this in https://github.com/apollographql/apollo-client-devtools/pull/149. It would be great to get some extra testing on the fix before pushing it out. If anyone here is able to try it out, and report back, that would be awesome.

**Code steps:**

[code]

**Chrome steps:**

- Open `chrome://extensions`
- Enable the "Developer Mode" checkbox
- Click "Load unpacked"
- Select

[2018-10-30 18:43] jetzhou commented on #137
Just tried it out, working on my machine! Thanks @hwillson!

[2018-10-30 19:55] chrisbutler commented on #137
@hwillson this works for me also. thank you!

[2018-10-31 00:28] Ihatetomatoes commented on #132
I had the same issue as tomasvarg. Writing descriptions for the client-side schema like this works:

[code]

[2018-10-31 11:05] olalonde opened #150 "Clicking on the Queries tab just results in the whole tab becoming blank"
I'm using the latest extension from the Chrome Store and when clicking on the Queries tab just results in the whole tab becoming blank...

<img width="1082" alt="screenshot 2018-10-31 19 04 45" src="https://user-images.githubusercontent.com/416585/47784214-e46fa400-dd3f-11e8-86f0-de0e763e45bf.png">

The other tabs work fine.

[2018-10-31 11:07] hwillson commented on #150
Duplicate of https://github.com/apollographql/apollo-client-devtools/issues/137 (and fixed in https://github.com/apollographql/apollo-client-devtools/pull/149). We'll get a new release out shortly.

[2018-10-31 11:07] #150 closed

[2018-10-31 11:45] #137 closed

[2018-10-31 12:17] hwillson commented on #137
Version 2.1.5 should now be available (it might take an hour of so to fully propagate across Chrome/FF web stores). Thanks all!

[2018-11-01 23:33] joelgetaction commented on #29
I'm still seeing this issue in the latest version of Chrome with the latest version of this extension.  The Apollo tab randomly hides the left menu (so I can't use it) and randomly shows wrong data (that I know is wrong because I can console.log to see the right data).  I really need to use this tool but it is really unreliable ... any ideas?

[2018-11-03 20:51] Dieff commented on #128
So you actually select the file `manifest.json`, which results in the addon being loaded. The manifest is user `apollo-client-devtools/shells/webextension/manifest.json`.

[2018-11-06 05:11] MichelDiz opened #152 "Not working with apollo-link-state"
ac-devtools works but don't load anything. I'm running a simple example provided on docs.

[code]

[2018-11-10 02:40] THPubs commented on #108
This issue is still there. Any updates on it?

[2018-11-12 19:50] realalexhomer commented on #121
I know its kind of crappy but it was just pointed out to me that in Chrome you can right click in the dev tool and click "reload frame" and it will fix the issue of it getting stuck.

<img width="489" alt="screen shot 2018-11-12 at 2 50 05 pm" src="https://user-images.githubusercontent.com/9168961/48371605-4c9c7f00-e68a-11e8-8364-2dcdb7f00baf.png">

[2018-11-13 14:41] buoyantair commented on #128
Please add the dev tools to firefox ;-;

[2018-11-14 11:13] capaj commented on #104
oh yeah we also have 2 apollo clients in our web app and we're seeing this issue. Would be really nice if dev tools would support that.

[2018-11-14 11:57] nomadoda commented on #107
Same issue, macOS, triggered during implementation of apollo-link-error

[2018-11-14 18:59] joejordan commented on #114
So is Firefox supported or not? This issue has been open for 8 months(!) and the readme is still pointing to a deleted add-on page (https://addons.mozilla.org/en-US/firefox/addon/apollo-developer-tools/)

[2018-11-20 01:38] royalaid commented on #147
@nanandn THANK YOU SO MUCH, FINALLY! I have had this issue for months now!

[2018-11-22 13:13] takticcode commented on #73
No Firefox support yet?

[2018-11-27 00:55] faurehu commented on #107
I've got this, although it is fixed when a `writeQuery` is done successfully in my webapp and reloading the panel page.

Before it, the variable `window.__APOLLO_CLIENT__.cache.data.data` is an empty object `{}`.

I suspect the extension is expecting something else and cannot render without a populated object.

[2018-11-27 22:00] gaelduplessix commented on #128
I built a self-signed version. I promise it won't steal your bitcoins <3

(I don't expect anyone to trust me but it would take way more time to have it validated and add it to the store, also I'm not even sure I have the right to distribute this without approval from Apollo team)

To install:
- Unzip `xpi` file
- Go to Add-ons (CMD+SHIT+A)
- ⚙️ -> `Install Add-on from file...`
- Select `.xpi` file

[2018-11-28 15:31] devserkan commented on #104
In my case, using React Router causes this issue. Adding `client.initQueryManager()` just makes the error disappear but the problem persists. When I click cache I see an empty page. If I close and re-open the Devtools I can see the cache. So, does React Router cause a second initialization of the client here?

[2018-11-30 12:11] devserkan commented on #104
Weird, it seems there isn't any problem right now. Maybe it needed a server restart, who knows :)

[2018-12-03 14:00] takticcode opened #155 "Apollo Firefox add-on"
_Originally posted by @takticcode in https://github.com/apollographql/apollo-client-devtools/issues/73#issuecomment-441026986_

[2018-12-04 00:03] carlsverre commented on #100
I am hitting this issue as well with a gqlgen (https://github.com/99designs/gqlgen) schema.  All the fields on all my types are showing up as deprecated.

[2018-12-05 14:09] hwillson commented on #73
Firefox is supported, but currently broken. FF has pulled devtools due to its use current use of `eval`. We're using `eval` in a safe way, but even if we plead our case and can get FF to agree, I'd like to move away from using `eval` as much as possible (to prevent this from happening again in the future). I'm working on a solution to this, and hope to have this all resolved very shortly. Thanks a

[2018-12-05 14:11] hwillson commented on #128
Please see https://github.com/apollographql/apollo-client-devtools/issues/73#issuecomment-444497422. In a nutshell - devtools supports FF, but has been pulled by FF. We're working on a fix, and will track all progress in #73. Thanks!

[2018-12-05 14:11] #128 closed

[2018-12-05 14:11] hwillson commented on #114
Please see https://github.com/apollographql/apollo-client-devtools/issues/73#issuecomment-444497422. In a nutshell - devtools supports FF, but has been pulled by FF. We're working on a fix, and will track all progress in #73. Thanks!

[2018-12-05 14:11] #114 closed

[2018-12-05 14:11] hwillson commented on #155
Please see https://github.com/apollographql/apollo-client-devtools/issues/73#issuecomment-444497422. In a nutshell - devtools supports FF, but has been pulled by FF. We're working on a fix, and will track all progress in #73. Thanks!

[2018-12-05 14:11] #155 closed

[2018-12-07 16:38] #104 closed

[2018-12-07 17:20] hwillson commented on #152
Can you share the exact code your running that leads to seeing this error?

[2018-12-07 17:22] hwillson commented on #147
Fixed by https://github.com/apollographql/apollo-client-devtools/pull/139. Thanks!

[2018-12-07 17:22] #147 closed

[2018-12-07 19:06] hwillson commented on #73
Devtools 2.1.6 should now be available to Firefox users:
https://addons.mozilla.org/en-US/firefox/addon/apollo-developer-tools/

Let me know if you encounter any issues. Thanks!

[2018-12-07 19:11] mathroc commented on #110
retested it now that the addon is availlable for Firefox again but this is still an issue. unfortunately it makes it unusable on websocket only server :(

[2018-12-09 12:32] benseitz commented on #6
I'd love to work on solving this issue, but need someone more familiar with Apollo and debuggers to accompany me.

I believe this is something a lot of people would love using.

Anyone out there who wants to take a look at it? :)

[2018-12-11 14:24] Gongreg commented on #6
Hey, I've been looking out if anyone is going to work on apollo dev tools to support react native. As far as I know nobody yet worked on it.

I took a honor to spend few hours trying to hack some kind of solution. By using websockets I managed to achieve some of the functionality.

By saying some I mean I only cannot think of the way to support apollo link through websockets (not familiar with lin

[2018-12-11 19:41] ccanalesb commented on #6
Any chance u upload your fork? i really need something.

[2018-12-11 20:06] Gongreg commented on #6
I was literally trying it inside node_modules.
Now I am trying other solution, that is to inject apollo devtools code inside the react native code, so there would be no need for websockets and we could only use post messages. I will return with my findings later.

[2018-12-11 22:59] BenChirlin commented on #121
At the very least we could add a "refresh" button like most plugins have to trigger a data reload instead of reloading the entire inspector frame.

[2018-12-14 09:54] VasiliKubarka opened #159 "Incorrect work with `extend` in Query and Mutation"
Hello all! Have few questions/bugs/features with `extend` keyword in version `2.1.5`

1) Queries declared with `extend` not seen in devtools
![image](https://user-images.githubusercontent.com/19685464/49995644-cc757c00-ff9d-11e8-90d8-a9921af7f9e7.png)
![image](https://user-images.githubusercontent.com/19685464/49995648-d1d2c680-ff9d-11e8-8213-6719c956f19e.png)

2) when locally try to extend existi

[2018-12-14 21:36] daryn-k commented on #104
Same issue

[2018-12-18 09:15] Gongreg commented on #122
Hey, I am currently working on react-native-debugger implementation. I already have working forks, but trying to clean up the code now.

https://github.com/apollographql/apollo-client-devtools/issues/6

[2018-12-18 19:48] fbartho commented on #122
@Gongreg that's great news! -- Does that mean that once that ships, this will be more easily ported into Reactotron? or is that just an alternative?

[2018-12-18 19:51] Gongreg commented on #122
Hey @fbartho. Assuming reactotron works same way as react native debugger (that is running react native code in a webworker) and has a support to display chrome dev tools then yes.

[2018-12-18 19:55] Gongreg commented on #122
Ah, just looked into it. Seems like it works not as a remote debugger? I am on mobile, so it is a little bit difficult to check.

Worst case scenario we will have support with react-native-debugger and other integrations might come after. After all, i believe having dev tools working is already a big step forward :)

[2018-12-21 02:07] drdaeman commented on #73
The link says "page not found" for me. Was the addon pulled back from the directory?

[2018-12-21 03:05] jacobmischka commented on #73
I imagine it was, it was kinda buggy. I'm guessing it'll be back as soon as those kinks get ironed out!

[2018-12-21 08:43] Gongreg opened #160 "Publishing as npm module"
Hello, I would like to know, would it be possible to publish apollo-dev-tools as a npm module so it could be included as a dependency in [react-native-debugger](https://github.com/jhen0409/react-native-debugger)? We need to use some code (backend code of apollo devtools) inside the debugger itself, to support apollo dev tools for react-native.

A slightly offtopic question, but maybe you know what

[2018-12-21 10:42] hwillson commented on #73
Arg - it was pulled again for these reasons:

We had already provided details for both of these items, which I guess the FF reviewers missed. I'll get it re-submitted shortly.

[2018-12-23 11:17] danilobuerger commented on #160
@hwillson could you take a look at this please so we can finally get react-native dev tool support working? It should be easy to publish this?

[2018-12-23 13:10] Gongreg commented on #160
It is holidays season now :) Lets hope to release it in beginning of January :)

[2018-12-26 13:17] hwillson commented on #160
Thanks for heading up this initiative @Gongreg! We should be able to do this. The Apollo team is a bit light this week due to the holidays, but I've flagged this for discussion when everyone gets back next week.

[2018-12-28 10:38] candulabs commented on #142
Any news? It's also not working for me. Running on `Version 71.0.3578.98 (Official Build) (64-bit)` and on Apollo Client DevTools `2.1.5`. All the permissions are set properly, and I can't see any error in the extension console.

[2018-12-31 15:41] slikts opened #161 "Doesn't seem to work in Canary"
I'm using Chrome Canary 73.0.3657.0, and the Apollo tab doesn't show up in devtools. It works with the same site in Chrome 70.0.3538.110, however.

Extension version: 2.1.5

[2019-01-03 08:54] benjaminsweetnam247 commented on #73
any chance you can just provide the file so we can side load it for the mean time?

[2019-01-05 00:14] ianshea commented on #107
I had to remove and reinstall the extension to get it working again.

FWIW , I tried `client.clearStore()` and `client.resetStore()` to remove cached data and the issue persisted.

[2019-01-05 11:30] Gongreg commented on #160
Hey @hwillson,
Maybe you have any news?

[2019-01-08 09:44] kennethlynne commented on #142
No tab shows up.

I'm using
[code]

[code]

and Chrome version 71.0.3578.98 (Official Build) (64-bit)

[2019-01-08 11:18] jaybe78 commented on #142
same issue for me ! anyone looking at the problem ????

[2019-01-08 16:11] karfield commented on #142
It seems resolved in latest version 2.1.6. You can clone and build it, then load the unpacked extension to get the devtool back.
@hwillson plz release the latest version to Chrome webstore asap.

[2019-01-09 05:56] KevinYaoooooo opened #164 "Cache data in Dev tool does not refresh automatically. [dev tool should be stable and effective]"
Cache data in Dev tool does not refresh automatically

After I modify the response data manually, the data in dev tool cache is not the latest one.

but the query data result in code is the latest one.

After I reopen the Dev  tool again, the cache shows the right data.

This is really confusing, the dev tool is very unstable, could you please solve this issue? the dev tool is kinda important for

[2019-01-09 09:52] smeevil commented on #146
I had this issue as well with 2.1.5, cloning the repo and loading that version works fine. Please update the extension in the chrome store :)

[2019-01-09 09:53] smeevil commented on #142
@karfield confirmed, thanks.

[2019-01-09 10:47] Gongreg commented on #160
Hey @hwillson, I would really like to move this forward.
I saw a lot of positive feedback from community, the sooner we release it the better :)

[2019-01-15 22:38] jure commented on #164
You could try the version from the repository, it works a bit better for me, although it's still a bit unpredictable.

[2019-01-16 01:04] KevinYaoooooo commented on #164
@jure thanks, I will give it a try, but still, if the one in repository is more stable, why it doesn't publish to chrome store

[2019-01-16 16:35] go-diego-go commented on #73
any update on this?

[2019-01-17 12:32] Gongreg commented on #160
Hello @hwillson,
Writing as a reminder. Is there anything I can do to help?

[2019-01-17 15:18] hwillson commented on #160
Hi @Gongreg - we're transitioning repo management responsibilities a bit internally. @cheapsteak and @justinanastos are going to help get outstanding devtools issues under control, PR's reviewed/merged, and work on improving devtools as a whole. Both this request and your great PR https://github.com/apollographql/apollo-client-devtools/pull/165 will be reviewed shortly. Thanks!

[2019-01-17 15:32] benseitz commented on #6
@Gongreg Can you share any news? :)

[2019-01-17 15:34] Gongreg commented on #6
Sure @benseitz,
Work from my side is done. I am waiting for Apollo team to finish their part (I just got notified that they should finally be able to do that).

These are relevant issues and PR's.

publish apollo dev tools to npm: apollographql/apollo-client-devtools#160

PR Update for apollo dev tools: apollographql/apollo-client-devtools#165

PR To include dev tools in React Native Debugger: #29

[2019-01-17 15:46] benseitz commented on #6
Thanks for the update and your amazing work @Gongreg!

[2019-01-17 16:39] ccpony commented on #108
Is anybody monitoring these issues?

[2019-01-17 17:18] TejasQ commented on #107
@peggyrayzis and team any responses to this?

[2019-01-18 12:12] JonathanYates commented on #146
Same issue for me. On 2.1.5 I just get a blank page in the Apollo Tab running against Apollo Client 2.4.9.
Please fix.

[2019-01-19 13:18] chiedo commented on #146
Same issue for me.

[2019-01-21 09:02] stereobooster opened #168 "Cannot convert undefined or null to object"
As soon as I switch to cache tab in Apollo extension I see white screen and this trace in console
[code]

Google Chrome Version 71.0.3578.98 (Official Build) (64-bit)

[2019-01-22 05:15] amcvitty commented on #146
Confirming I also was able to get an Apollo tab to appear by installing via the Development instructions in the README.md from master

I first uninstalled the extension from the Chrome store, and I needed to restart Chrome after I'd installed the new one

[2019-01-22 15:03] baschte commented on #104
Same issue for me

[2019-01-24 20:31] Gongreg commented on #160
Hey, @cheapsteak
Regarding uuid everything is already solved in the PR I’ve created. It is referenced inside this issue.

[2019-01-25 09:31] Gongreg commented on #160
Since it is published I am closing the issue, thanks!

[2019-01-25 09:31] #160 closed

[2019-01-28 09:36] Gongreg opened #169 "Publish built webextension in npm"
The shells/webextension/dist folder should be inside npm, since it is required by other dev tools.

[2019-01-28 09:37] Gongreg commented on #169
@cheapsteak, seems like contributors cannot assign, so I am tagging you. :)

[2019-01-28 16:10] #169 closed

[2019-01-28 20:11] anwilson514 commented on #142
Has there been any update on this?  I still see 2.1.5 as the latest in the chrome store and I still cannot get the dev tools extension to work.

[2019-01-31 03:12] Spaxe commented on #73
Shouldn't this ticket be reopened? Still page not found.

[2019-01-31 08:21] avrelaun commented on #73
Definitely should

[2019-01-31 08:51] borisyordanov opened #171 "Can't query local cache"
[code]
Running this query in React through the client works fine.

If i do the same query in Apollo Dev Tools i just get an unending loading screen
![image](https://user-images.githubusercontent.com/12392666/52042340-38577800-253d-11e9-9e20-e7902ce83041.png)

I get no errors or warnings in the console.

Environment:
Chrome 71.0.3578.98
Windows 10 64-bit

[2019-01-31 16:07] pashazz opened #172 "local cache querying works but prints issues; local mutations do not work"
2.1.5 (Latest version). (Probably there's some dev version somewhere that works?)

Initialization:

[code]

Trying to query:
![image](https://user-images.githubusercontent.com/45922/52067357-79767900-258b-11e9-9cfb-89da193e55f9.png)

Trying to mutate:
![image](https://user-images.githubusercontent.com/45922/52077855-0aa51a00-25a3-11e9-925b-e8fc5998c64c.png)

console errors:
[code]

[2019-02-01 16:22] dcolthorp commented on #145
This problem affects Chrome as of version 72 as well. The Queries tab is still scrollable for me, but I'm not able to scroll in the Cache tab. (I didn't test the Mutations tab – not enough mutations to scroll in my test case.)

I've switched to Vivaldi (based on Chrome 71) in the meantime, where the Cache tab is still scrollable.

[2019-02-04 15:38] miclud commented on #145
Same as @dcolthorp.
The mutation log is scrollable.
This could shed some light on it https://www.reddit.com/r/webdev/comments/alg8az/anyone_experiencing_issues_with_flexbox_and/
This link is posted there [Issue 927066: Flexbox rendering changed between chrome 71 and 72](https://bugs.chromium.org/p/chromium/issues/detail?id=927066)

[2019-02-04 21:47] justinanastos commented on #82
The README no longer refers to GitHunt. Thanks @glasser !

[2019-02-04 21:47] #82 closed

[2019-02-04 21:51] #58 closed

[2019-02-04 21:53] justinanastos commented on #60
This appears to be working now! Please re-open the issue if it happens again. Thank you @backjo 	!

[2019-02-04 21:53] #60 closed

[2019-02-06 23:28] RealSilo opened #174 "Not working if typeDefs added to apollo-link-state"
I've been using the devtools with apollo-link-state without any problems so far.

I had to do a frontend type definition for nested attributes so I added the `typeDef` option to `withClientState`. The app is still working fine, but the devtools throws an error:

![screen shot 2019-02-06 at 15 19 34](https://user-images.githubusercontent.com/10554687/52380695-a7dcd400-2a23-11e9-94cd-9ade0ea757e8.pn

[2019-02-08 15:05] kruglay commented on #104
Still have the same issue

[2019-02-08 18:33] justinanastos commented on #56
I tested subscriptions with https://github.com/the-road-to-graphql/fullstack-apollo-subscription-example and it seems to be working now. Please let me know if this is still an issue!

[2019-02-08 18:33] #56 closed

[2019-02-08 19:15] justinanastos commented on #146
Let's give this a shot using the same repo. If you setup https://github.com/apollographql/fullstack-tutorial per its instructions, are you able to see the chrome extension?

[2019-02-08 19:18] justinanastos commented on #142
Let's give this a shot using the same target repo. If you setup https://github.com/apollographql/fullstack-tutorial per its instructions, start the client and server in the `final` path, are you able to see the chrome extension?

[2019-02-08 19:18] justinanastos commented on #146
In an effort to consolidate the conversation of the extension not showing up, i'm going to close this ticket and move the conversation to #142. https://github.com/apollographql/apollo-client-devtools/issues/142#issuecomment-461914592

[2019-02-08 19:18] #146 closed

[2019-02-08 19:22] justinanastos commented on #172
Thanks for reporting this issue! I see in the screenshot that you used the `@client` directive in the query but not in the mutation. If you add the `@client` directive to the mutation, does it work correctly?

[2019-02-08 19:23] justinanastos commented on #69
I'm going to close this issue because it hasn't been discussed for a while. If this is still an issue please re-open it!

[2019-02-08 19:23] #69 closed

[2019-02-08 19:25] justinanastos commented on #74
Thanks for reporting this issue @tnrich . I'm going to close it because it hasn't seen any activity in a while. If this is still an issue please re-open it!

[2019-02-08 19:25] #74 closed

[2019-02-08 19:26] justinanastos commented on #64
I'm going to close this issue up because it hasn't seen any activity in over a year. If anyone is still seeing an issue, please re-open the issue. Thank you!

[2019-02-08 19:26] #64 closed

[2019-02-08 19:28] justinanastos commented on #87
@SeanSilke I'm sorry no one ever responded to this issue! I'm taking over triage of this repo and I'm here to help. I'm going to close it out for now. If you're still seeing an issue please re-open!

[2019-02-08 19:28] #87 closed

[2019-02-08 19:29] justinanastos commented on #88
Thanks for the everyone's participation in this issue. I'm going to close this issue for now hoping that it's resolved in a more recent version of devtools. If this is still an issue with the latest version, please re-open the issue!

[2019-02-08 19:29] #88 closed

[2019-02-08 19:31] justinanastos commented on #105
@lorensr I'm sorry no one responded to this issue! I'm going to close this issue out for now. IF this is still an issue with the most recent version of the devtools then please re-open the issue and include a link to a repo I can use to reproduce the error. Thank you!

[2019-02-08 19:31] #105 closed

[2019-02-08 19:32] justinanastos commented on #90
Thanks for reporting this issue. I'm hoping that things are resolved with a more recent version of devtools because there hasn't been any activity for a while. If that's not the case then please re-open the issue and let me know!

[2019-02-08 19:32] #90 closed

[2019-02-08 19:35] justinanastos commented on #83
This is an awesome idea. This is something we're discussing internally but we haven't started work on it yet. There's an open PR right now from the community (https://github.com/apollographql/apollo-client-devtools/pull/162) but I think it needs some work because, as @cheapsteak pointed out, the UI is hard to navigate.

I'm going to add `enhancement` label to this and keep it up. Thanks!

[2019-02-08 23:18] lorensr opened #175 "Crashes when viewing optimisticResponse in cache"
Reopening #105

## Repro:

Client: https://github.com/lorensr/repro-105
Server: https://codesandbox.io/s/qmj608j1q

## Start:

![image](https://user-images.githubusercontent.com/251288/52511334-7dc71580-2bcd-11e9-815c-db5b6ac5f258.png)

## Middle:

![image](https://user-images.githubusercontent.com/251288/52511340-86b7e700-2bcd-11e9-8459-a8771cd8a909.png)

## End:

![image](https://user-images.git

[2019-02-09 00:58] acrogenesis commented on #73
Is there a way we could get attention from Mozilla?

[2019-02-11 02:26] kyledetella commented on #171
I am having the same issue. I wonder, is this expected behavior?

[2019-02-11 16:35] justinanastos commented on #92
Thanks for reporting this issue! I just joined the devtools project and I'm going through all the open issues. Was this resolved with https://github.com/apollographql/apollo-client-devtools/issues/106#issuecomment-368752638 ?

If so, then it will also relate to https://github.com/apollographql/apollo-client-devtools/issues/118

[2019-02-11 16:36] justinanastos commented on #92
I'm going to close this issue and keep an eye out for a response. If I hear back that things are still not working then I'll re-open the issue. Thanks again!

[2019-02-11 16:36] #92 closed

[2019-02-11 16:39] justinanastos commented on #129
I just joined the devtools project and I'm going through all the open issues.

Thanks for the bug report @dylanscott . I confirmed this is still an issue with the latest devtools. We'll look into it!

[2019-02-11 16:46] justinanastos commented on #134
Thanks @dandv 👍

[2019-02-11 16:50] justinanastos commented on #106
Thanks for reporting this! I'm going to close it out in favor of #118.

[2019-02-11 16:50] #106 closed

[2019-02-11 16:58] justinanastos commented on #94
This one seems to keep popping up! Thanks for everyone's help in finding a temporary solution until we resolve #118. In the meantime I'm going to close this as a duplicate. Thanks again!

[2019-02-11 16:58] #94 closed

[2019-02-11 17:00] justinanastos commented on #136
Thanks for the report! This doesn't appear to be a devtools issue. If I'm mistaken then please comment here and I'll re-open (and ask for a full reproduction).

[2019-02-11 17:02] justinanastos commented on #144
Thanks for the request! That's a pretty slick feature `react-devtools` has that I didn't know about. I'm going to mark this as a feature request for the future!

[2019-02-11 17:04] justinanastos commented on #100
Thanks @carlsverre 	, can you you share a reproduction URL so I can take a look at this?

[2019-02-11 17:05] justinanastos commented on #110
Thanks for the bug report! Can you please post a full reproduction repo with an explanation of how to reproduce?

A fork of https://github.com/the-road-to-graphql/fullstack-apollo-subscription-example might be a good place to start.

[2019-02-11 17:07] justinanastos commented on #121
I just joined the devtools project, thanks for the bug report. This is something we'll be looking at soon.

[2019-02-11 17:22] moonray commented on #136
Actually, this does appear to be a problem with devtools; it's not using the same version of apollo-cache-inmemory as whichever react app it's trying to integrate with

[2019-02-11 17:23] justinanastos commented on #132
Thanks @peggyrayzis . I looked checked two things:

1. I used a fork of the fullstack example (https://github.com/justinanastos/fullstack-tutorial/tree/justin/apollo-pre-2.5) and reproduced exactly what you saw.
2. I also checked [`master` of `fullstack-tutorial`](https://github.com/apollographql/fullstack-tutorial) and it appears as though things are now working as expected. The tutorial is using

[2019-02-11 17:29] justinanastos commented on #159
Thanks for opening an issue @VasiliKubarka ! Can you take a look at my comments here: https://github.com/apollographql/apollo-client-devtools/issues/132#issuecomment-462415551. Would #1 qualify as a reproduction for what you're seeing? If so, I'll mark this is a duplicate of #132. If not, can you please provide a reproduction?

Relates to #132

[2019-02-11 17:53] justinanastos commented on #107
Hey y'all. Sorry for the very long response time. Can someone post a minimal reproduction?

I tried using Apollo's full stack tutorial both using the latest prod versions of `react-apollo` and `apollo-client` (https://github.com/justinanastos/fullstack-tutorial/tree/justin/apollo-pre-2.5) and pre-release alphas (https://github.com/apollographql/fullstack-tutorial).

I can see the cache in both cas

[2019-02-11 17:59] justinanastos commented on #164
Thanks for posting this issue and thank you for your patience. We totally understand that the devtool is important to developers because we use it internally. This is a duplicate of https://github.com/apollographql/apollo-client-devtools/issues/108 so I'm going to close _this_ ticket. At the time of this writing there are 34 👍 on that issue (including my own!). Please follow the progress over ther

[2019-02-11 17:59] #164 closed

[2019-02-11 18:00] justinanastos commented on #108
Thank you everyone for your report and for your patience. I'm going to be looking into this very soon.

[2019-02-11 18:20] dylanscott commented on #129
Thanks @justinanastos!

[2019-02-11 18:31] carlsverre commented on #100
It seems to have been resolved in a recent version of gqlgen!  Will ping if I see it again with a repro.

[2019-02-11 18:59] justinanastos commented on #100
Thank you @carlsverre 	!

[2019-02-11 18:59] #100 closed

[2019-02-11 19:00] justinanastos commented on #136
Thanks for responding so quickly @moonray . Can you please help me with a minimal reproduction? https://github.com/apollographql/fullstack-tutorial might be a good jump off point

[2019-02-11 19:27] justinanastos commented on #161
Thanks for the report @slikts . I just tried devtools with the latest Canary (74.0.3702.0). I used the latest fullstack tutorial repo (https://github.com/apollographql/fullstack-tutorial) and a fork that uses the latest prod versions of the repos (https://github.com/justinanastos/fullstack-tutorial/tree/justin/apollo-pre-2.5) and Apollo Client DevTools was functional. Can you please try either of

[2019-02-11 19:27] #161 closed

[2019-02-11 20:16] justinanastos commented on #152
Hi @MichelDiz ! I'm going to close this issue pending a reproduction. Thanks for filing the report

[2019-02-11 20:16] #152 closed

[2019-02-11 20:46] justinanastos commented on #171
Can you provide a reproduction? I'm able to query the local cache with both the latest alpha of apollo-client and react-apollo on the fullstack tutorial (https://github.com/apollographql/fullstack-tutorial) as well as on a fork (https://github.com/justinanastos/fullstack-tutorial/tree/justin/apollo-pre-2.5) that uses the latest non-alpha versions.

![image](https://user-images.githubusercontent.co

[2019-02-11 20:53] justinanastos commented on #168
Thanks for the bug report @stereobooster ! This appears to be a duplicate of https://github.com/apollographql/apollo-client-devtools/issues/168. I asked a question (just today!, https://github.com/apollographql/apollo-client-devtools/issues/107#issuecomment-462426867) asking for help with a reproduction. I showed two repos that this _doesn't_ happen for. I'd very much appreciate if you could post

[2019-02-11 20:53] #168 closed

[2019-02-11 21:00] justinanastos commented on #115
Thanks for the report @lorensr 	! Can you provide a reproduction? I tried to reproduce the behavior you described with Apollo's Fullstack Tutorial (https://github.com/apollographql/fullstack-tutorial). I saw that when I tried to query `LaunchDetails` in the Apollo Client Devtools , I didn't see a network request.

![](https://cl.ly/c573f7b1be5e/Screen%20Recording%202019-02-11%20at%2004.00%20PM.gif

[2019-02-11 21:03] justinanastos commented on #174
Thanks for the report @RealSilo . The issue of having client-side `typeDef` causing issues with GraphiQL's introspection is definitely an issue (https://github.com/apollographql/apollo-client-devtools/issues/132). My understanding is that the rest of the devtools _will_ work, just not the introspection query. Does the rest of the devtools work?

I'm going to close this as a duplicate. If there are

[2019-02-11 21:03] #174 closed

[2019-02-11 21:34] justinanastos commented on #121
Unless I'm mistaken, this is a duplicate of #108. I'm going to close this issue. If I'm mistaken, please ping me and I'll re-open this.

[2019-02-11 21:34] #121 closed

[2019-02-11 21:36] justinanastos commented on #171
I know I only asked for a reproduction an hour ago; I can't reproduce this issue.

If you can, please post the reproduction here and I'll re-open the issue. Thanks again @borisyordanov !

[2019-02-11 21:42] justinanastos commented on #175
Thank you for re-opening the issue and providing the @lorensr 	! I'll take a look at this!

[2019-02-11 23:51] jfrej commented on #107
In my case this is linked to clearing the cache. Everything works until the cache is cleared.
I've just removed the extension, restarted Chrome and re-added the extension. The problem persists.

So here's a reproduction:
1. Open https://kry9my57o.codesandbox.io/ (the source: https://codesandbox.io/s/kry9my57o )
2. Open Apollo Dev Tools
3. Go to the Cache tab and check that everything is working (t

[2019-02-12 04:23] basicdays commented on #132
Just ran into this issue defining typeDefs with `apollo-link-state` and including an `extend Query` declaration in that. Will keep that commented out until 2.5 lands and I'll see if that fixes anything.

[2019-02-12 09:41] borisyordanov commented on #171
@justinanastos Thanks for looking into this, but i don't see how it's relevant to test on https://github.com/apollographql/fullstack-tutorial it doesn't even have `apollo-link-state` set up, and even if it did, that package is being deprecated.

I [forked the repo](https://github.com/borisyordanov/fullstack-tutorial/tree/master/final/client), updated all the packages and set up a local cache i can

[2019-02-12 14:28] justinanastos commented on #107
Thank you @jfrej ! I ran through the reproduction and saw exactly what you explained. I'm actively working on Apollo Client Devtools for the time being so hopefully I have something to report soon :)

Thanks again!

[2019-02-12 14:36] richtera commented on #121
@justinanastos Yes it's the same issue as far as I can see as well.

[2019-02-12 15:08] justinanastos commented on #171
@borisyordanov I should have been more clear. You're right, `master` on the fullstack tutorial is using the alpha version of Apollo Client that includes Apollo local state and does not use apollo-link-state. When I said this:

I should have been more explicit that that fork is using `apollo-link-state` and the current stable release of Apollo Client.

Chrome extensions don't follow semver and does

[2019-02-12 15:12] justinanastos commented on #172
I can reproduce this issue with local mutations as well. Thanks for the report @pashazz

[2019-02-12 15:53] borisyordanov commented on #171
@justinanastos i forgot to mention that this bug is somewhat sporadic. 80-90% of the time it doesn't work but sometimes it does load what it's supposed to.

When it does work and i refresh the page(or change the current route in react) and run the query again it fails.

When it does work and i do nothing sometimes after 2-3 seconds of the result being rendered (without me even doing anything) the

[2019-02-12 21:01] schleumer commented on #142
I could get everything to work with your example. Looking the example code i could find that it is using Apollo's components, but i'm not using Apollo's components, i'm just using ApolloClient's `mutate` and `query` direct over react-saga, but, i can actually use GraphiQL and Docs on extension. Is extension intended for Apollo's components plus ApolloClient or can it's intended for ApolloClient "s

[2019-02-14 21:23] candycanejane opened #181 "GraphQL extension doesn't work anymore"
As of 2/12/19 AM, the GraphQL extension doesn't work anymore in Chrome. I imagine Chrome did a silent update or something like that. :(
<img width="715" alt="screen shot 2019-02-14 at 1 21 59 pm" src="https://user-images.githubusercontent.com/12465776/52818413-931fc200-305b-11e9-9b13-0fc7c809d27d.png">

[2019-02-14 21:27] redmerten opened #182 "Mutations crash devtools"
Tools crash on mutations click and cache click.

 Chrome 72.0.3626.109.
React 16.8
  "apollo-cache-inmemory": "^1.4.2",
    "apollo-client": "^2.4.12",
    "apollo-link": "^1.2.6",
    "apollo-link-rest": "^0.7.0",
    "graphql": "^14.1.1",
    "graphql-anywhere": "^4.1.27",
    "graphql-tag": "^2.10.1",

[2019-02-14 22:01] paradoxinversion commented on #181
Reporting this same behavior.

[2019-02-15 11:42] Billy- commented on #119
@Negan1911 I am getting `cannot read property 'loc' of undefined` - seems to be related to that change?

[2019-02-15 15:01] Negan1911 commented on #119
@Billy- it could be, theres a chance that you have a bad mutation without body?

[2019-02-15 15:40] Billy- commented on #119
@Negan1911 that is something I considered.. I did a scan of my code base and couldn't find any.. And it's impossible to debug :slightly_frowning_face:. My app works fine - would I expect any errors in the app if a mutation had no body?

[2019-02-15 16:56] justinanastos commented on #132
Resolved in [v2.1.7](https://github.com/apollographql/apollo-client-devtools/releases/tag/v2.1.7)

[2019-02-15 16:56] justinanastos commented on #107
Resolved in [v2.1.7](https://github.com/apollographql/apollo-client-devtools/releases/tag/v2.1.7)

[2019-02-15 16:56] #107 closed

[2019-02-15 16:58] justinanastos commented on #182
Thanks for the report! The cache but is a duplicate of #107 and was resolved in [v2.1.7](https://github.com/apollographql/apollo-client-devtools/releases/tag/v2.1.7).

The mutations bug I'm working on right now and hopefully will have released by EOD.

[2019-02-15 21:12] justinanastos commented on #182
Fixed in [v2.1.8](https://github.com/apollographql/apollo-client-devtools/releases/tag/v2.1.8)

[2019-02-15 21:12] #182 closed

[2019-02-15 21:28] justinanastos commented on #136
@moonray Can you share the versions of the packages?

[2019-02-15 22:55] NickClark commented on #110
Same issue. Websocket only link. It seems to work fine when I choose to Load from Cache... but then I assume all my results are stale...

[2019-02-15 22:58] justinanastos commented on #110
Thanks @NickClark ! Can you help me with a reproduction? As I wrote in https://github.com/apollographql/apollo-client-devtools/issues/110#issuecomment-462408540, a fork of [the-road-to-graphql/fullstack-apollo-subscription-example](https://github.com/the-road-to-graphql/fullstack-apollo-subscription-example) might be a good place to start.

[2019-02-15 23:44] NickClark commented on #110
I will if I can carve out some time, but I've been up to my neck lately, so don't hold your breath 😉

[2019-02-16 00:20] justinanastos commented on #110
Thanks @NickClark . I really want to help; I just need some direction.

[2019-02-17 17:01] NickClark commented on #110
@justinanastos
NickClark/
Ok... I've mixed up a couple examples.
This first one is most similar to my setup, uses angular, and simple server:  [NickClark/apollo-tooling-failure-example](https://github.com/NickClark/apollo-tooling-failure-example)

I then remade the example using a simple React app and a simple server on Codesandbox, which should make it faster to test out. Note: I had to popout th

[2019-02-18 12:08] justinanastos commented on #110
Thanks @NickClark ! I'll be back online tomorrow. I'll let you know what I find!

[2019-02-19 13:39] VasiliKubarka commented on #171
@borisyordanov Have you tried to reload frame (Apolllo tab in devtools => rightclick on apollo menu => reload frame)

[2019-02-19 13:42] VasiliKubarka commented on #171
https://github.com/apollographql/apollo-client-devtools/issues/108

[2019-02-19 14:16] VasiliKubarka commented on #159
@justinanastos Hello, thanks for reply, don't think that [it's](https://github.com/apollographql/apollo-client-devtools/issues/132#issuecomment-462415551) the same behavior that I faced.
Anyway I tested this on `2.1.8` version, and for this version both client typeDefs  with `type Query...` and `extend type Query` are not shown in **Documentation Explorer** in `Query` type.
I checked that in both

[2019-02-19 14:33] borisyordanov commented on #171
I hadn't tried reloading the frame. I just did and after loading for a bit it i got this message:
![image](https://user-images.githubusercontent.com/12392666/53022512-9cde6680-345b-11e9-9a5d-46f8df338caa.png)

[2019-02-19 14:48] VasiliKubarka commented on #171
@borisyordanov
[code]
and it's known issue when after page reload, apollo shows endless loader on `query` execution, so it should be updated by `reload frame`

[2019-02-19 16:00] borisyordanov commented on #171
`connectToDevTools` had always been set to `true`.

Reloading the frame doesn't fix the endless loading bug, because the dev tools never load after reloading.

[2019-02-20 12:27] tiagosalema commented on #73
So I am guessing there are still no updates on the addon?

[2019-02-20 16:57] justinanastos commented on #118
Release in [v2.1.9](https://github.com/apollographql/apollo-client-devtools/releases/tag/v2.1.9)

[2019-02-20 16:57] #118 closed

[2019-02-20 16:59] justinanastos commented on #142
I took a shot in the dark and removed dependency on 3rd party cookies, release in [v2.1.9](https://github.com/apollographql/apollo-client-devtools/releases/tag/v2.1.9). I'm hoping this resolves the issue for everyone. If not, please comment here and let's try to work through it some more. I'm going to close the issue in the meantime.

[2019-02-20 17:00] justinanastos commented on #142
I changed my  mind, I'm going to leave this open for a week. Hopefully I hear some good news from you all!

[2019-02-20 17:19] justinanastos commented on #136
@moonray I tried to reproduce this by installing old versions. I'm going to close this issue until I hear back 🤞

[2019-02-20 17:19] #136 closed

[2019-02-20 21:57] justinanastos commented on #181
Thanks for the report @candycanejane .

We've released a few updates in the past week! Can you let me know if it's working now? If not, do you see any errors in the debug panel or second level debug panel (panel-inception https://github.com/apollographql/apollo-client-devtools#debugging)?

[2019-02-22 00:50] dnafication opened #186 "Link to download firefox extension doesnt work"
![image](https://user-images.githubusercontent.com/6381587/53212129-d13e6680-3697-11e9-812c-3c7039cb33a9.png)

![image](https://user-images.githubusercontent.com/6381587/53212173-0ea2f400-3698-11e9-8712-88470e37a725.png)

[2019-02-22 00:59] candycanejane commented on #181
It's not. I don't even see the Apollo Chrome extension anymore when I inspect the page :( There are some errors, but I have no idea what's generating them. I'm attaching screenshots. Thanks for sharing about the second-level debug panel though...very cool. I had no idea that existed.
<img width="637" alt="screen shot 2019-02-21 at 4 54 13 pm" src="https://user-images.githubusercontent.com/12465776

[2019-02-23 10:43] dragan1810s commented on #186
It was taken down, because of eval usage

[2019-02-25 09:05] RoberMac opened #187 "Can't scroll in Chrome"
![image](https://user-images.githubusercontent.com/4065233/53325990-774fd200-391f-11e9-9937-4b74d34547df.png)

As screenshot above, I cannot scroll down in Apollo's tab.

[2019-02-25 14:00] smeevil commented on #142
I've had some very limited time, but it seems to be working :)
If I don't come back to this issue in a few days, consider it fixed!

Thanks for your time:)

[2019-02-25 14:53] justinanastos commented on #142
You're very welcome @smeevil ! Please let me know if you run into any other issues or have any other feature suggestions!

I'm going to close this out now. I'm keeping a close eye on this because not all the issues have been ironed out (cc @candycanejane)

https://github.com/apollographql/apollo-client-devtools/issues/181#issuecomment-466230731

[2019-02-25 14:58] justinanastos commented on #187
Thanks @RoberMac ! That's totally a bug! When text is selected in the left pane I can't scroll the list either.

[2019-02-25 15:00] justinanastos commented on #186
Correct @dnafication and @dragan1810s , we're temporarily off the Firefox store. We're using _almost_ the same eval usage as the React devtools (that this extension was originally based on). We've reached out to Firefox and never heard back. I'll be investigating removing all `eval` use in the future and hopefully that'll land is back in the Firefox store.

In the meantime I'll update the readme t

[2019-02-25 17:51] justinanastos commented on #31
Thank you everyone that's written in on this issue! I'm going to close this in favor of #108.

[2019-02-25 17:51] #31 closed

[2019-02-25 18:00] justinanastos commented on #181
What versions are you using for `react-apollo` and `apollo-client` @candycanejane ?

Also, can you try to reproduce with this branch of the fullstack tutorial? https://github.com/justinanastos/fullstack-tutorial/tree/justin/apollo-pre-2.5:

1.`cd` into `final/client` and `final/server`
1. Install deps for both of those paths
1. Run both of those paths with `npm start` at the same time
1. Navigate

[2019-02-26 06:40] candycanejane commented on #142
Ok, yea. It works using the local tutorial (with Chrome Version 72.0.3626.109/macOS High Sierra 10.13.6). Ok, so it must be one of our GraphQL libraries, and yes, it appears that some of them are out of date:
apollo-datasource-rest: 0.1.5
apollo-engine: 1.1.2
apollo-server: 2.3.1
apollo-server-cache-redis: 0.1.3
apollo-server-express: 2.3.1
graphql: 0.13.2
graphql-import: 0.5.3
graphql-tools: 2.24

[2019-02-26 13:28] justinanastos commented on #142
Thanks @candycanejane ! I'm happy to help. Those look like server dependencies. Can you share the apollo-specific client dependencies? It makes me uneasy blindly telling you to update dependencies without knowing what the root cause of DevTools breaking is.

[2019-02-26 13:29] justinanastos commented on #142
@candycanejane I'm going to keep this issue closed in favor of #181.

[2019-02-26 13:29] #142 closed

[2019-02-26 13:30] justinanastos commented on #181
Per https://github.com/apollographql/apollo-client-devtools/issues/142#issuecomment-467315738

[2019-02-26 20:44] justinanastos commented on #172
Local mutations appear to be working again and we've added all local state to GraphiQL with [v2.2.0](https://github.com/apollographql/apollo-client-devtools/releases/tag/v2.2.0).

[2019-02-26 20:44] #172 closed

[2019-02-26 20:45] justinanastos commented on #159
We've added all local state to GraphiQL with [v2.2.0](https://github.com/apollographql/apollo-client-devtools/releases/tag/v2.2.0). This works for `apollo-client`/`react-apollo` v2.4 and v2.5 that was released today!

[2019-02-26 20:48] justinanastos commented on #171
`connectToDevTools` only needs to be set if you want access to DevTools in non-development environments (meaning `process.env.NODE_ENV !== "development"`).

We released a new version of the DevTools today along with new versions of `apollo-client` and `react-apollo`.

Since I was never able to reproduce your issue (your reproduction worked out of the box as expected), I can't tell you if this fixe

[2019-02-26 20:48] #171 closed

[2019-02-26 20:49] justinanastos commented on #134
Fixed. Thank you @dandv !

[2019-02-26 20:49] #134 closed

[2019-02-26 21:33] justinanastos commented on #181
@candycanejane we released a new version of the DevTools and new versions of `apollo-client` and `react-apollo` today. I'm going to cross my fingers that the new versions help your situation. If not, then please leave another comment here and we'll keep trying to figure this out! :)

[2019-02-26 21:33] #181 closed

[2019-02-27 11:59] raedle commented on #159
I've updated to v2.2.0 and it does not show the local schema (using it together with apollo-client@2.5.0).

Can anyone confirm that the local schema shows up in the Documentation Explorer in v2.2.0?

[2019-02-27 13:42] lyudad commented on #172
Hello, I have same issue in v2.2.0

[2019-02-27 16:49] justinanastos commented on #159
Can you give any more details @raedle ? I checked out the [full stack tutorial](https://github.com/apollographql/fullstack-tutorial), ran the apps in [`final/client`](https://github.com/apollographql/fullstack-tutorial/tree/master/final/client) and [`final/server`](https://github.com/apollographql/fullstack-tutorial/tree/master/final/server). Note the `typeDefs` definition:

https://github.com/apo

[2019-02-27 18:37] raedle commented on #159
Thanks @justinanastos for your quick response. I tried the fullstack tutorial, but even with this one I don't see the local schema in the Documentation Explorer.

I even installed the Apollo Client Dev Tools extension on a clean Google Chrome account, but still no local schema.

<img width="1792" alt="apollo-client-dev-tools" src="https://user-images.githubusercontent.com/489051/53513834-802ed800-

[2019-02-27 19:21] justinanastos commented on #159
@raedle Are you on the latest version of the fullstack tutorial with the latest dependencies installed in `final/client` and `final/server`?

To check:

[code]

[code]

What do you see?

[2019-02-27 19:55] raedle commented on #159
It works after updating both packages to v2.5.1.

In my own project, I had both packages at v2.5.0, and the fullstack was on apollo-client@2.5.0-alpha.10 and react-apollo@2.4.0-alpha.3.

Thanks you!

[2019-02-27 20:48] justinanastos commented on #159
Thank you @raedle ! There was a change going from rc2 → rc3 that changed how the Apollo Client DevTools access Apollo Client's local `typeDefs`. That explains why it didn't work with the alpha versions! Thanks for following up and letting me know things are working now!

[2019-02-27 20:48] #159 closed

[2019-03-01 18:23] lukewlms commented on #73
@hwillson Would you reopen this till the link works?  We love Apollo and Firefox and would love them to play great together!

[2019-03-02 02:04] hwillson commented on #73
@lukewlms for sure, and good news - @justinanastos is going to be looking into this and working out a plan of attack to prevent this from happening again.

[2019-03-04 18:48] mschipperheyn opened #190 "How to use"
Both the Apollo Client and the Devtools docs both suggest that the devtools will work if there is a `window.__APOLLO_CLIENT__` object available. None of them state what the object should contain?

[2019-03-04 19:25] mschipperheyn commented on #190
Ah yes, set `connectToDevTools` to `true` in ApolloClient options. Didn't work initially, that's why I was confused.

[2019-03-04 19:25] #190 closed

[2019-03-08 15:59] nick commented on #187
I'm seeing this too which is making the Cache tab virtually useless right now 😬

[2019-03-08 18:03] #186 closed

[2019-03-08 19:47] justinanastos commented on #187
@nick Is this happening just when text in the list is selected?

[2019-03-08 19:51] nick commented on #187
No it doesn't scroll for me whether text is selected or not. #145 looks to be related

[2019-03-14 06:05] jhen0409 opened #192 "Publish the latest version to NPM"
Hi, it looks like the NPM package of apollo-client-devtools is still on [`v2.1.6`](https://www.npmjs.com/package/apollo-client-devtools). Would be great if the latest version published to NPM.

We've issue like https://github.com/jhen0409/react-native-debugger/issues/332, it should be fixed in newer versions.

[2019-03-14 18:22] NickClark commented on #110
@justinanastos Any thoughts on this at the moment? This issue, and the one of the dev tools not refreshing when the app gets reloaded is really making it hard for me in Electron dev, especially since I can't just reload the Apollo dev tool panel by right clicking.

[2019-03-18 09:53] scfoxcode commented on #187
I encountered this today and have a temporary fix.

1. Open the tools and go to the cache view
2. In the right half of the window, right click and inspect
3. <div class="inspector-main"> should be selected.
4. Add height: 100%; to this element

[2019-03-19 10:47] thomasmichaelwallace commented on #73
For the sake of other people like me who couldn't work out how to build it yourself. Here are some explicit instructions:

* Using Firefox Developer Edition (required to accept unsigned extensions)
* Allow unsigned extensions in Firefox (navigate to `about:config`, and set the key `xpinstall.signatures.required` to `false`)
* Clone, install (`yarn install`) and build (`yarn run build`) the main ex

[2019-03-19 13:41] andreicristianpetcu commented on #73
@thomasmichaelwallace it does not work on my machine :( if you managed to build it locally and have it work for you, I can show you how to sign it and have a one click install (no need to disable signing verification).

Create an account on AMO and upload your zip at this location https://addons.mozilla.org/en-US/developers/addon/submit/upload-unlisted This is for unlisted addons, they need fewer

[2019-03-19 16:19] thomasmichaelwallace commented on #73
@andreicristianpetcu - thanks for the guidance- I've just given that a go, but looks like it gets stuck again at requiring the manual justification for eval &c that the _official_ build is seemingly still waiting for the Mozilla Add-on team to allow through, so I don't hold much hope of my unlisted version beating this.

As for the build, the only two steps I am missing are "on a MacBook, using No

[2019-03-27 10:26] yodaheis commented on #192
v2.2.0 is already published, covering the bug fixes related to cache.

[2019-03-27 10:36] elioschmutz commented on #108
Whats the progress of this issue?

[2019-03-28 13:52] SebSchwartz opened #194 "Icon not visible in chrome dark theme"
The icon in the address bar (in the extension area next to it) is not visible when using chrome with the dark theme.

May be a good idea to put a white icon for this config.

Screenshot: (it should be the right icon)
![image](https://user-images.githubusercontent.com/1962758/55162836-f0358a00-5168-11e9-862d-f819fafe82b7.png)

[2019-03-28 23:21] keithrobichaud commented on #187
👍

[2019-03-30 11:27] jdolinski1 opened #195 "Firing multiple "cache-only" queries floods Queries tab and crashes extension"
Firing the same "cache-only" query multiple times - for example on every render - floods Queries tab and crashes extension.

[2019-04-05 12:53] ogbofjnr commented on #181
Apollo dev tool not showing in chrome. And window.__APOLLO_CLIENT__ is undefined.

[2019-04-09 21:06] hwillson commented on #187
https://github.com/apollographql/apollo-client-devtools/pull/193 has been merged and is now available via version 2.2.2 of the devtools. Thanks all!

[2019-04-09 21:06] #187 closed

[2019-04-11 13:16] thomasmichaelwallace commented on #108
Out of interest, does anyone have a workaround the works in Firefox? (the devtools context menu in Firefox does not have the "refresh" option).

[2019-04-11 22:12] JayKan commented on #99
Can confirm current issue still exists in version `v2.2.2`

[2019-04-16 08:05] odensc opened #198 "devtools.apollodata.com request leaks the URL of page you're on"
Hi, I'd like to report a bit of a privacy issue. The extension sends a request to `devtools.apollodata.com` looking for CompatibilityMessages, whenever you're on a page where Apollo devtools are enabled. This request leaks the URL of the page you're on in the `Referer` and `Origin` headers.

Meaning that you (Apollo) could possibly be saving this data, probably not, but there's no way to know. It'

[2019-04-24 02:30] acrogenesis commented on #73
So I got it signed as @andreicristianpetcu said here it is: [apollo_client_developer_tools-2.2.2-fx.xpi.zip](https://github.com/apollographql/apollo-client-devtools/files/3110303/apollo_client_developer_tools-2.2.2-fx.xpi.zip)

Later this week I'll try and add the update_url to keep it updated :)

[2019-04-24 12:44] andreicristianpetcu commented on #73
After you add the update_url users need to manually install once again. @acrogenesis
Thank you for providing this build and updates for it!

[2019-04-29 19:52] deepankar-j commented on #181
I'm running into the same issue.  However, my project is using the latest versions of the Apollo Client libs.

Here's the Apollo-related excerpt from my package.json.

[code]

Can you please help me understand what we're doing wrong?

[2019-05-02 16:07] acrogenesis commented on #73
Created the updates.json and updated the manifest so it can be updated :) here is the new link https://github.com/acrogenesis/apollo-client-devtools/releases/download/FF2.2.2/apollo_client_developer_tools-2.2.2-fx.xpi

[2019-05-02 20:05] mathroc commented on #110
coming here again since a new Firefox version is now available, this issue is still present

[2019-05-05 19:15] thomascothran commented on #172
This is still an issue with v2.2.2.

[2019-05-06 02:37] acao opened #200 "GraphiQL Overhaul Invite"
Hey friends!

Wanna join us in the GraphiQL overhaul effort? Towards 1.0? 🎂

https://github.com/graphql/graphql-wg/issues/136

Maybe you can help us architect it better for use cases like yours

[2019-05-06 13:21] hwillson commented on #200
Thanks @acao - Apollo is definitely interested. I'll add more details in https://github.com/graphql/graphql-wg/issues/136. Thanks again!

[2019-05-06 13:21] #200 closed

[2019-05-07 23:12] spencermefford commented on #26
I was able to get it working by setting the value on `window` when I create my Apollo Client.

[code]

[2019-05-08 06:58] intellix commented on #26
I think things here have changed quite a bit. It always seems to appear for me and I'm not sure it's an issue anymore (for me). You're still having issues then @spencermefford ?

[2019-05-08 21:16] spencermefford commented on #26
Wow, I'm really confused. As of yesterday, I never saw the Apollo tab in dev tools until I added that line of code. Today I see the tab even when I remove that line. I've killed my ng server, restarted my browser, and tried in a new Chrome tab. Mysterious. Perhaps it does work now in Angular. No idea why I couldn't see it before though.

[2019-05-13 10:24] Gongreg opened #202 "Automate npm publish"
Hello,
The npm version of apollo-client-devtools is still locked to 2.1.6 .

Could anyone look into it? Also it would be great if version publish was automated, so React Native users wouldn't be left behind.

[2019-05-16 18:30] Stefano1990 commented on #121
I wasted too much time on this.

[2019-05-19 21:55] meebix commented on #121
Any updates on this? This is a pretty big (bad) issue from a developer experience standpoint.

[2019-05-19 21:55] meebix commented on #108
Any updates on this issue? This is a pretty big (bad) issue from a developer experience standpoint.

[2019-05-20 04:32] ccpony commented on #108
Walked away from Apollo and dev-tools.  Project seems abandoned.  Was never ready for prime time.

[2019-05-21 11:45] Gongreg commented on #202
@cheapsteak, @justinanastos.

Can we get any news regarding this? It is a big bummer that we can't give RN users the latest version.

If you cannot do an npm release could you at least tell us? Then we will just release it ourselves or do some other workaround.

[2019-05-21 15:35] justinanastos commented on #108
I'm sorry to respond with bad news and after such a long delay @elioschmutz , @theadactyl , @meebix , and @ccpony ; we haven't had the available resources to come back and make this change. We use this tool internally so we feel the same pain as you. I'm hoping that we'll have the resources to come up with a solution in the next few months; we're always trying to do better and are always happy to

[2019-05-21 15:36] justinanastos commented on #108
We're always looking for help with our open source libraries! Either with a PR or even an idea/recommendation on how to resolve the issue would be super helpful to me!

[2019-05-29 14:26] mjlyons commented on #129
I have a rough fix here: https://github.com/apollographql/apollo-client-devtools/commit/d5e1205adaf71ba3a1ae316f3cca915e7cb84652.

Unfortunately I screwed up sending my PR for #108 (PR #204) and put it on my fork's master. I think I can't send my commit above as a PR until PR #108 is pulled in (or I burn my fork).

There might be a cleaner way to do this change, so happy to take any code review fe

[2019-05-31 01:08] #110 closed

[2019-05-31 10:42] Gongreg commented on #202
@hwillson, pinging you too. Not sure who is maintaining the repo atm :)

[2019-05-31 14:50] btorresgil commented on #108
@ccpony What did you move to?  Been looking at alternative as well.

[2019-06-01 21:24] hwillson commented on #202
Thanks for the heads up @Gongreg, and sorry about the publish to npm being missed. I'm about to publish a new browser version, and will make sure the npm version is published at the same time. I'll also make sure we get the publish to npm step added into our manual steps for now, until we figure out a better approach.

[2019-06-02 10:33] #198 closed

[2019-06-02 10:35] hwillson commented on #198
Thanks @odensc - let's just remove the phone home compatibility check completely. We can determine Apollo Client compatibility using other methods, so I've removed the check (and will be deploying a new version shortly).

[2019-06-02 11:21] hwillson commented on #202
2.2.3 has been published to npm. Thanks!

[2019-06-02 11:21] #202 closed

[2019-06-02 11:22] hwillson commented on #192
2.2.3 has been published to npm. Thanks!

[2019-06-02 11:22] #192 closed

[2019-06-13 04:19] steelx commented on #142
same issue `Version 74.0.3729.169 (Official Build) (64-bit)`

[2019-06-13 21:06] SmirnovW commented on #142
The same problem `Version 74.0.3729.169 (Official Build) (64-bit)`

[2019-06-13 21:27] danieldias51 opened #211 "Feature request: Keep the selected tab opened when page reloading"
When I'm developing something that uses the apollo store, I usually have the store tab opened on the devtool to watch the state being update, but everytime I change something on the code and the app reloads, I've to select again the store tab and scroll to the key I was watching.

It would be awesome if the least the tab opened could kept the same between app reloads.

If you think this is a wante

[2019-06-18 14:59] damiangreen opened #212 "On an authenticated website, the windows never displays, just redirects to login"
On an authenticated site the windows never displays, just redirects to login.
 Even though I'm logged in, with auth tokens

[2019-06-19 09:59] steelx opened #213 "Client does not appear in Chrome"
I'm using Mac Chrome version
`Version 75.0.3770.100 (Official Build) (64-bit)`

Client Version `2.2.3`

Apollo client has suddenly stopped working. shows blanks.

Whether I keep `connectToDevTools: true,` or don't include it, there is no effect. In any case `window.__APOLLO_CLIENT__` is available in console.

npm package `"react-apollo": "^2.1.4",`

[2019-06-19 10:04] aujlambkar commented on #213
Chrome version 74.0.3729.169  is also facing the same issue

[2019-06-19 15:28] arrygoo opened #214 "Can't scroll in Apollo dev tool's explore in react-native-debugger"
After updating to 0.9.9, the explorer field is added to Apollo which is awesome, however if the list is too long you can scroll down to see the rest of the queries.
![image](https://user-images.githubusercontent.com/965429/59778910-5708a200-9285-11e9-8989-4871380e4de3.png)

[2019-06-26 16:00] phatcatmatt commented on #73
Any progress on this?

[2019-06-27 12:36] haripriyakalahasti commented on #106
Adding this line above the modheader setup resolved my issue

driver.get("chrome-extension://idgpnmonknjnojddfkpgkljpfnnfcklj/icon.png");

[2019-06-30 11:14] mvestergaard opened #215 "Cache tab is empty"
The cache tab is completely empty for me, all the other tabs seem to work fine
![image](https://user-images.githubusercontent.com/2027834/60395704-ce68ec00-9b37-11e9-9820-ad128ec743ff.png)

Is this some sort of known bug, and if not. Do you have any idea what could be causing it?
No errors are shown in the console or anywhere, so there's not much to go on.

[2019-07-05 12:56] TheVedhaGuy opened #216 "Target Iframe"
Not necessarily a bug, but is there any way to target an IFrame and have the dev tools be available to it? I have an embedded app and I would love to use this tool.

[2019-07-11 08:00] mvestergaard commented on #215
This resolved itself somehow

[2019-07-11 08:00] #215 closed

[2019-07-11 14:46] RIP21 commented on #214
+1

[2019-07-11 22:50] yagudaev commented on #142
Same issue on `Version 75.0.3770.100 (Official Build) (64-bit)`

[2019-07-12 13:57] hibbie opened #218 "[Firefox] Addon will randomly not show up in Developer Tools"
I have an issue where I installed the client into Firefox Developer Edition and it will not consistently show up, usually after a reboot.  Another reboot is not guaranteed to fix the issue.  In the past I have updated and rebuilt the addon to no avail.  So far it seems random and not necessarily tied to updates from Mozilla.  Is there a way to force the app to try and connect to the client tools o

[2019-07-13 19:07] toddgeist commented on #215
I have this problem all the time, with my Next.js app. No idea what it happens

[2019-07-16 06:35] Jimbomaniak opened #219 "Apollo devtools shows empty screen in RN Debugger"
Apollo devtools tab appears in RN Debuger but shows nothing on the screen. After click on tab it flickers on sec and then dissapears.
System: Ubuntu 18.04,
RN Debugger: 0.9.10,
Apollo-dev-tools: 2.2.3,
React Native: 0.60.3 with Hermes Engine on

[2019-07-16 12:22] Jimbomaniak commented on #219
After writing first query it starts to work as expected, so I close the issue.

[2019-07-16 12:22] #219 closed

[2019-07-25 10:27] olleblom commented on #213
Latest Debian stable: Linux xxx 4.9.0-9-amd64 #1 SMP Debian 4.9.168-1+deb9u3 (2019-06-16) x86_64 GNU/Linux
Latest google-chrome-beta: Version 76.0.3809.80 (Official Build) beta (64-bit)
    apollo-cache-inmemory "1.6.2"
    apollo-client "2.6.0"
DevTool version: 2.2.3

I have uninstalled all extensions except those shipped with the browser (Google's own).

Every time the DevTool extension tries to

[2019-07-25 14:37] jcpmmx commented on #194
Can anyone point me to where the icon foreground color is set?
For Chrome dark theme, it could be set to white or light blue instead of current dark blue.

[2019-07-28 07:48] wongmjane opened #221 "Unable to detect Apollo Client after page reload"
The Apollo Devtools (in Chrome) worked fine until I reload the page (without closing the Devtools).

After the page reload, the Apollo Devtools spent the first 10 seconds in "Connecting to Apollo Client..." screen, and then it just shows the "We couldn't detect Apollo Client in your app!" screen.

However, if I closed the Devtools and reopened it, the Devtools is able to detect the Apollo Client a